<template>
  <div>
    <div class="mensajes">
      <p v-show="mensaje !== ''" class="success-box">{{ mensaje }}</p>
      <p v-show="error !== ''" class="error-box">{{ error }}</p>
    </div>
    <tablero-juego
      v-if="isConnected"
      :state.sync="state"
      :tableboard.sync="tableboard"
      :id="id"
      :language="language"
      :userid="userid"
      :usertokens.sync="usertokens"
      :userplayer="userplayer"
      :mensaje.sync="mensaje"
      @error="procesaError"
      @new-tokens="letrasRestantes -= $event"
      @new-score="updateScore"
    />
    <!--aunque mensaje no es un atributo de tablero, el sincronizarlo me facilita la actualización,pero claro, no deberia 
    poder sincronizar un prop q no tengo ni del q nada debo saber...no?-->
    <p class="error-box" v-else>No Hay conexión, no puedes jugar</p>
    <listen-for-broadcast
      :config="$options.broadcastConfig"
      :channels="canales"
      @broadcast:event="actualizaDatos"
      @broadcast:status="status = $event"
      @broadcast:channel-susbcription="setStatus"
      @broadcast:channel-unsusbcription="setStatusDisconnected"
    />
  </div>
</template>
<script>
import TableroJuego from "./TableroJuego";
import { Config, default as ListenForBroadcast } from "./ListenForBroadcast.js";
export default {
  name: "AreaJuego",
  broadcastConfig: new Config("socket.io", window.location.hostname + ":6001"),
  components: { TableroJuego, ListenForBroadcast },
  props: {
    game: { type: Object, required: true },
    user: { type: Object, required: true },
  },
  data: function () {
    return {
      mensaje: "",
      error: "",
      //datos del tablero
      state: undefined,
      tableboard: "",
      id: "",
      language: "",
      userid: "",
      usertokens: [],
      userplayer: "",
      canales: [],
      letrasRestantes: undefined,
      savedScore: undefined,
      //canalesconectados
      chOpponent: undefined,
      status: "",
    };
  },
  watch: {
    state: function (newstate, oldstate) {
      //cuando cambia el estado emito un evento con los datos actualizados
      //no cambiar hasta no recibir el savedScore!
      if (oldstate !== undefined) {
        const estado = {
          state: newstate,
          score: this.savedScore,
          remaining: this.letrasRestantes,
        };
        console.log(estado);
        this.$emit("cambio-estado", estado);
      }
    },
    mensaje: function (nv) {
      this.procesaMensaje(nv);
    },

    status: function (newstatus, oldstatus) {
      //faltaria poner un v-if para que desapareciera el tablero
      if (newstatus === "DISCONNECTED") {
        this.procesaError("La conexión se ha perdido.");
      } else if (newstatus === "CONNECTED" && oldstatus == "DISCONNECTED") {
        this.mensaje = "La conexión ha vuelto, ¡puedes jugar!";
      }
    },
    chOpponent: function (nstatus, oldstatus) {
      if (!nstatus) {
        this.procesaError("No puedes comunicarte con el oponente");
      } else if (nstatus && oldstatus !== undefined) {
        this.mensaje = "La conexión con el oponente ha vuelto, ¡puedes jugar!";
      }
    },
  },
  computed: {
    isConnected() {
      return this.status === "CONNECTED" && this.chOpponent;
    },
  },
  methods: {
    updateScore(e) {
      this.savedScore = e;
      const estado = {
        state: this.state,
        score: this.savedScore,
        remaining: this.letrasRestantes,
      };
      this.$emit("cambio-estado", estado);
    },
    procesaMensaje(m) {
      this.mensaje = m;
      setTimeout(() => (this.mensaje = ""), 5000);
    },
    procesaError(d) {
      this.error = d;
      //lo dejo más tiempo para q lo vean bien
      setTimeout(() => (this.error = ""), 10000);
    },
    //PROCESO DE LOS DATOS QUE MANDA EL CANAL
    actualizaDatos(e, ev) {
      if (e === "OpponentThrow") {
        this.procesaTurnoOponente(ev);
      } else if (e === "GiveupGame") {
        this.state = ev.state;
        this.mensaje = "El oponente se rindió. ¡Ganaste!";
      } else if (e === "AcceptedChallenge") {
        //como solo informa de retos aceptados tampoco he visto necesidad de que
        //acepten...no se si es que me he perdido algun canal o algo...
        const lang = ev.lang === "es" ? "Castellano" : "Inglés";
        const name = ev.oppoName ? ev.oppoName : "sorpresa";
        this.mensaje =
          "¡Atención! Nuevo reto generado contra " +
          name +
          " en" +
          lang +
          ". ¡Te está esperando!";
      }
    },
    //esto en principio se va también proque es del websocket y lo procesara el padre
    //pero no todo
    procesaTurnoOponente(ev) {
      this.state = ev.state;
      this.letrasRestantes = ev.numberRemainingTokens;
      this.savedScore = ev.playerScore;
      if (ev.playerState === "pass") {
        this.mensaje = "El oponente ha pasado";
      } else if (ev.playerState === "return") {
        this.mensaje = "El oponente ha cambiado sus letras";
      } else {
        this.mensaje =
          "El oponente ha jugado " +
          ev.word +
          "por " +
          ev.wordScore +
          " puntos";

        this.tableboard = ev.tableboard;
      }
    },

    setStatus(e, ev) {
      if (
        e === "game." + this.game.id + ".user." + this.user.id &&
        ev == "private"
      ) {
        this.chOpponent = true;
      }
    },
    setStatusDisconnected(e) {
      if (e === "game." + this.game.id + ".user." + this.user.id) {
        this.chOpponent = false;
      } else {
        this.procesaError =
          "Has perdido la comunicación con tu canal privado, pero puedes seguir jugando";
      }
    },
  },
  created() {
    //establezco los valores de inicio, a partir de aqui deberian
    //sincronizarse con los datos que el tablero o el websocket envien durante la partida
    this.state = this.game.state;
    this.tableboard = this.game.tableboard;
    this.id = this.game.id;
    this.language = this.game.language;
    this.userid = this.user.id;
    this.usertokens = this.user.tokens;
    this.userplayer = this.user.player;
    this.letrasRestantes = this.game.remaining_tokens;
    //añadimos los canales de la partida
    this.canales.push({
      name: "game." + this.game.id + ".user." + this.user.id,
      type: "private",
      events: ["OpponentThrow", "GiveupGame"],
    });
    //y el de accepted challenges
    this.canales.push({
      name: "user." + this.user.id,
      type: "private",
      events: ["AcceptedChallenge"],
    });
  },
};
</script>
<style lang="scss" scoped>
.mensajes {
  width: 20vw;
  text-align: center;
  position: fixed;

  /* review */
  z-index: 999;
  margin-top: 15%;
  margin-left: 15%;
  @media (max-width: 992px) {
    width: 83%;
    margin-left: 0;
  }
}
</style>
