<!--componente que hace las veces de badge-->
<template>
  <sup :class="clase">{{ datosDefinitivos }}</sup>
</template>
<script>
export default {
  name: "BadgeComponent",
  //tiene 3 props: la clase a aplicar, los datos (obligatiorios), y los datos actualizados(si fueren necesarios)
  props: {
    clase: { type: String, default: "" },
    datos: { type: String, required: true },
    datosnuevos: { type: Number, default: null },
  },
  computed: {
    //si se reciben datos nuevos esta propiedad se encarga de usarlos en lugar de los originales.
    datosDefinitivos: function () {
      if (this.datosnuevos !== null) {
        return this.datosnuevos;
      } else {
        return this.datos;
      }
    },
  },
};
</script>
