<!--componente que dado un objeto de configuración crea un formulario-->
<template>
  <div :class="clase">
    <template v-for="(valor, index) in campos">
      <div :key="index">
        <template v-if="esInput(valor.type)">
          <template v-if="valor.type === 'submit' || valor.type === 'reset'">
            <input
              v-if="valor.type === 'submit'"
              :id="valor.id"
              :class="valor.class"
              :type="valor.type"
              :value="valor.label"
              :pattern="valor.pattern"
              :title="valor.title"
              :name="valor.name"
              @click="sendingHandler(valor)"
            />
            <input
              v-if="valor.type === 'reset'"
              :id="valor.id"
              :class="valor.class"
              :type="valor.type"
              :value="valor.label"
              :name="valor.name"
              @click="vaciarSendingData"
            />
          </template>
          <template v-else-if="valor.type === 'file'">
            <label :class="valor.class" :for="valor.id">{{
              valor.label
            }}</label>
            <p v-if="valor.errormessage !== undefined" :class="valor.class">
              {{ valor.errormessage }}
            </p>
            <input
              :id="valor.id"
              :accept="valor.accept"
              :class="valor.class"
              :type="valor.type"
              :value="valor.value"
              :title="valor.title"
              :name="valor.name"
              @change="addFile"
            />
          </template>
          <template
            v-else-if="valor.type !== 'checkbox' && valor.type !== 'radio'"
          >
            <label :class="valor.class" :for="valor.id">
              {{ valor.label }}
            </label>
            <p v-if="valor.errormessage !== undefined" :class="valor.class">
              {{ valor.errormessage }}
            </p>
            <input
              :id="valor.id"
              v-model.trim="sendingdata[valor.name]"
              :class="valor.class"
              :type="valor.type"
              :value="valor.value"
              :pattern="valor.pattern"
              :title="valor.title"
              :name="valor.name"
            />
          </template>
          <template v-else>
            <input
              :id="valor.id"
              v-model="sendingdata[valor.name]"
              :class="valor.class"
              :type="valor.type"
              :value="valor.value"
              :pattern="valor.pattern"
              :title="valor.title"
              :name="valor.name"
            />
            <p v-if="valor.errormessage !== undefined" :class="valor.class">
              {{ valor.errormessage }}
            </p>
            <label :for="valor.id">{{ valor.label }}</label>
            <br />
          </template>
        </template>
        <template v-else-if="esSelect(valor.type)">
          <label :for="valor.id">{{ valor.label }}</label>
          <p v-if="valor.errormessage !== undefined" :class="valor.class">
            {{ valor.errormessage }}
          </p>
          <c-select
            :id="valor.id"
            :class="valor.class"
            :options="valor.options"
            :name="valor.name"
            @seleccionado="addSeleccionado"
          />
        </template>
        <template v-else-if="esTextArea(valor.type)">
          <label :for="valor.id">{{ valor.label }}</label>
          <p v-if="valor.errormessage !== undefined" :class="valor.class">
            {{ valor.errormessage }}
          </p>
          <textarea
            :id="valor.id"
            :class="valor.class"
            :name="valor.name"
            :rows="valor.rows"
            :cols="valor.cols"
            :readonly="valor.readonly"
            :max-length="valor.maxlength"
            :required="valor.required"
          />
        </template>
        <template v-else-if="esButton(valor.type)">
          <button
            :id="valor.id"
            :disabled="valor.disabled"
            :class="valor.class"
            :type="valor.type"
            @click="sendingHandler(valor)"
          >
            {{ valor.label }}
          </button>
        </template>
      </div>
    </template>
  </div>
</template>
<script>
import Vue from "vue";
import CSelect from "./CSelect";

export default {
  name: "CForm",
  components: {
    CSelect,
  },
  props: {
    //array de objetos cuyos campos son los atributos de un campo del formulario(hacer name obligatorio)
    campos: { type: Array, default: () => [] },
    clase: { type: String, default: "" },
  },
  data: function () {
    return {
      //los datos que enviare al padre una vez relleno
      sendingdata: {},
    };
  },
  /*watch: {
    },*/
  methods: {
    esInput(tipo) {
      return (
        [
          "text",
          "password",
          "email",
          "checkbox",
          "date",
          "file",
          "hidden",
          "radio",
          "submit",
          "reset",
          "tel",
          "url",
        ].indexOf(tipo.toLowerCase()) != -1
      );
    },
    esSelect(tipo) {
      return tipo.toLowerCase() === "select";
    },
    esTextArea(tipo) {
      return tipo.toLowerCase() === "textarea";
    },
    esButton(tipo) {
      return tipo.toLowerCase() === "button";
    },
    sendingHandler(data) {
      if (Object.prototype.hasOwnProperty.call(data, "event")) {
        data.event();
      } else {
        console.log(this.sendingdata);
        this.$emit("envio-formulario", this.sendingdata);
        //no quiero reset todo pero ..
        this.vaciarSendingData();
      }
    },
    addSeleccionado(v) {
      Vue.set(this.sendingdata, v.name, v.selected);
    },
    vaciarSendingData() {
      this.sendingdata = {};
    },
    addFile(f) {
      let miFormData = new FormData();
      miFormData.append(
        f.target.name,
        f.target.files[0],
        f.target.files[0].name
      );
      this.sendingdata[f.target.name] = miFormData;
    },
  },
};
</script>
