<!--componente que muestra los retos pendientes del usuario, no es reutilizable más alla de este sitio-->
<template>
  <div>
    <h3 :class="clase">Retos Pendientes</h3>
    <ul>
      <li v-for="(reto, index) in datos" :key="index" class="pequenya">
        <img
          :src="reto.language | srcidioma"
          :alt="reto.language | txtidioma"
          :title="reto.language | txtidioma"
        />
        {{ reto.name | fnombre }}, {{ reto.level | fnivel }} el
        {{ reto.created_at | formatofecha }}.
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  name: "ChallengesPendientes",
  filters: {
    fnombre: function (n) {
      return n === null ? "¡Sorpresa!" : n;
    },
    fnivel: function (n) {
      if (n === 0) {
        return " ";
      } else if (n < 0) {
        return "nivel menor o igual a " + Math.abs(n);
      } else if (n > 10) {
        console.log("nivel mayor de 10");
        return "nivel mayor o igual a " + n / 10;
      } else {
        return "nivel " + n;
      }
    },
    srcidioma: function (i) {
      return "/img/" + i + ".png";
    },
    txtidioma: function (i) {
      return i === "es" ? "Español" : "English";
    },
    formatofecha: function (d) {
      let fecha = new Date(d);
      return fecha.toLocaleDateString();
    },
  },
  props: {
    datos: { type: Array, required: true },
    clase: { type: String, default: "" },
  },
};
</script>
<style lang="scss" scoped>
.flexcol {
  display: flex;
  justify-content: center;
}
img {
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
}
ul {
  list-style: none;
  li {
    line-height: 3rem;
  }
}
.pequenya {
  font-size: 0.95rem;
}
</style>
