<!-- componente que dado un objeto de configuración te monta un select y 
emite un evento al componente padre cuando se selecciona alguno-->
<template>
  <select
    v-model="selected"
    :clase="clase"
    :name="name"
    @change="$emit('seleccionado', { name: name, selected: selected })"
  >
    <option disabled value="">Elige una opción</option>
    <option v-for="(obj, clave) in options" :key="clave" :value="clave">
      {{ obj }}
    </option>
  </select>
</template>
<script>
export default {
  name: "CSelect",
  props: {
    options: {
      type: Object,
      required: true,
    },
    name: { type: String, default: "" },
    clase: { type: String, default: "" },
  },

  data: function () {
    return {
      selected: "",
    };
  },
};
</script>
