<template>
  <!--lo suyo es q acabe si y solo si tb se ha hecho el drop dnd debe-->
  <drag v-show="mostrar" class="letra" :transfer-data="datosEnvio">
    <!-- el componente permite enviarvarios argumentos: un dato, el evento que lanza el componente, y el del navegador-->
    {{ letra }} <sub> {{ score }} </sub>
  </drag>
</template>
<script>
import { Drag } from "vue-drag-drop";
export default {
  name: "DragLetra",
  components: {
    Drag,
  },
  props: {
    letra: { type: String, required: true },
    //porque se puede xD
    score: { type: [Number, String], required: true },
    //este es el tipico caso dnd usar sync? no creo...
    origen: { type: [Number, String], required: true },
  },
  data: function () {
    return {
      datosLetra: {
        letra: this.letra,
        score: this.score,
      },
      mostrar: true,
    };
  },
  computed: {
    //¿porque si lo formo en computed funciona pero en data no? misterios...
    datosEnvio: function () {
      return {
        letra: this.datosLetra.letra,
        score: this.datosLetra.score,
        origen: this.origen,
      };
    },
  },

  methods: {
    desaparecer() {
      this.mostrar = false;
    },
    aparecer() {
      console.log("apareciendo");
      this.mostrar = true;
    },
  },
};
</script>
<style scoped>
.letra {
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  padding: 5px;
}
</style>
