<!--componente que usando el componente de formulario permite editar los datos del usuario-->
<template>
  <div class="rejilla">
    <h3 class="titulos">Editar Información de usuario</h3>
    <p :class="infoClass">{{ info }}</p>
    <p :class="infoAvClass">{{ avatarinfo }}</p>
    <c-form
      clase="caja-formulario"
      :campos="opciones"
      @envio-formulario="validarFormulario"
    />
  </div>
</template>
<script>
import Vue from "vue";
import CForm from "./CForm";
import axios from "axios";
import PAISES from "../paises";
export default {
  name: "EditUser",
  components: {
    CForm,
  },
  data: function () {
    return {
      opciones: [
        {
          name: "avatar",
          type: "file",
          label: "Sube tu avatar",
          accept: "image/png, image/jpeg",
          title: "PNG o JPG, máximo n mb",
        },
        {
          name: "remove_avatar",
          type: "checkbox",
          label: "Borrar avatar",
          id: "remove_avatar",
        },
        {
          name: "name",
          type: "text",
          pattern: "([A-za-z]|[0-9]){4,255}",
          title: "entre 4 y 255 caracteres",
          label: "Nombre",
          id: "nombre",
        },
        {
          name: "country",
          type: "select",
          label: "País",
          options: PAISES,
          title: "Elija uno de la lista",
          id: "pais",
        },
        {
          name: "favourite_language",
          type: "select",
          label: "Idioma",
          title: "Elija uno de la lista",
          options: { ES: "español", EN: "english" },
          id: "idioma",
        },
        {
          name: "new_password",
          type: "password",
          pattern: "\\S{5,}",
          title: "Al menos 5 Caracteres",
          label: "Nueva Contraseña",
          id: "nueva_contraseña",
        },
        {
          name: "new_password_confirmation",
          type: "password",
          pattern: "\\S{5,}",
          title: "Ha de coincidir con la anterior",
          id: "confirmacion",
          label: "Confirma contraseña",
        },
        {
          name: "old_password",
          type: "password",
          pattern: "\\S{5,}",
          title: "Al menos 5 Caracteres",
          label: "Contraseña antigua",
          id: "antigua",
        },
        {
          name: "enviar",
          type: "submit",
          label: "Modificar",
          class: "btn btn-dark inline",
        },
        {
          name: "reset",
          type: "reset",
          label: "Vaciar",
          class: "btn btn-dark ligth inline",
        },
        {
          name: "borrarCuenta",
          type: "submit",
          label: "Borrar Cuenta",
          class: "btn btn-dark light inline",
          event: this.borrarCuenta,
        },
      ],
      info: "",
      avatarinfo: "",
      infoClass: "",
      infoAvClass: "",
      newRutaAvatar: "",
    };
  },
  methods: {
    validarFormulario(d) {
      //primero se mira si la contraseña nueva se ha introducido y si es igual a la anterior.
      let pwvalida = this.validaPass(
        d.new_password,
        d.new_password_confirmation
      );
      //validamos los datos recibidos en funcion con lo que hemos enviado para generar
      //la estructura del formulario
      for (let i = 0; i < this.opciones.length; i++) {
        if (this.opciones[i].name === "name") {
          this.validaInputs(this.opciones[i], d.name);
        } else if (
          this.opciones[i].name === "country" &&
          d.country !== undefined
        ) {
          this.validaSelect(this.opciones[i], d[this.opciones[i].name]);
        } else if (
          this.opciones[i].name === "favourite_language" &&
          d.favourite_language !== undefined
        ) {
          this.validaSelect(this.opciones[i], d[this.opciones[i].name]);
        } else if (this.opciones[i].name == "new_password") {
          this.validaCampoPassword(this.opciones[i], pwvalida, d);
        } else if (this.opciones[i].name == "new_password_confirmation") {
          this.validaValidacionPassword(pwvalida, this.opciones[i]);
        } else if (this.opciones[i].name === "old_password" && pwvalida) {
          this.validaOldPassword(d.old_password, this.opciones[i]);
        }
      }
      // si no hay q borrar el avatar o no s eha subido uno nuevo
      //se resetean los campos de info del avatar. ( por si acaso,
      //que no se quede el mensaje de info por ahí pululando.
      if (d.remove_avatar === false || d.avatar === undefined) {
        this.infoAvClass = "";
        this.avatarinfo = "";
      }
      //se preparan los datos para hacer las llamadas respectivas
      if (this.puedeModificar()) {
        // rehacer el objeto a enviar, eliminando las cadenas vacias.
        let sendedData = {};
        for (let campo in d) {
          if (d[campo] !== "" && d[campo] !== undefined) {
            sendedData[campo] = d[campo];
          }
        }
        //si esta vacio pues no se envia nada
        if (Object.keys(sendedData).length !== 0) {
          this.updateUserData(sendedData);
        }
      }
    },
    // dado unos datos se hacen las llamadas para actualizar la info del usuario
    updateUserData(datos) {
      //en funcion de lo que haya que hacer se hace una llamada u otra
      if (datos.remove_avatar) {
        this.llamadaServidor(
          "post",
          "/scrabble/user/avatar/remove",
          datos,
          this.avisoBorradoAvatar
        );
        // se actualiza el avatar ( y no se ha marcado borrar y se ha subido la foto)
      } else if (datos.avatar !== undefined && !datos.remove_avatar) {
        //si remove_avatar true, post avatar remove
        this.llamadaServidor(
          "post",
          "/scrabble/upload/avatar",
          datos.avatar,
          this.avisoCambioAvatar
        );
        console.log("subir avatar");
      }
      //si solo está marcado borrar avatar o modificar no envia nada más.
      //Si hay otro tipo de datos los envia por aqui.
      if (this.soloDatos(datos)) {
        this.llamadaServidor(
          "put",
          "/scrabble/user/update",
          datos,
          this.avisoCambioDatos
        );
      }
    },
    //dado un metodo, una url, los campos a enviar y una funcion callback para
    //definir que hacer cuando todo se hace bien se hace la llamada al servidor.
    llamadaServidor(method, url, campos, callback) {
      let mivue = this;
      let axiosUp;
      if (method == "put") {
        axiosUp = axios.put;
      } else if (method == "post") {
        axiosUp = axios.post;
      } else if (method == "get") {
        axiosUp = axios.get;
      } else if (method == "delete") {
        axiosUp = axios.delete;
      }
      return axiosUp(url, campos)
        .then(function (response) {
          callback(campos, response);
        })
        .catch(function (error) {
          //si metes la pw nueva pero da error también hace logout?
          if (campos.remove_avatar) {
            mivue.avatarinfo = "no hay avatar que borrar" + error.message;
            console.log(error);
            mivue.infoAvClass = "error-box";
          } else {
            mivue.infoClass = "error-box";
            mivue.info = error;
          }
        });
    },
    //callback del cambio de datos (texto, no archivos)
    avisoCambioDatos(campos) {
      this.infoClass = "success-box";
      if (campos.new_password) {
        //set timeoout para explicar q debera hacer login
        this.info =
          "Datos Actualizados. Por seguridad, debes volver a loguearte";
        setTimeout(() => (window.location.href = "/scrabble/login"), 5000);
      } else {
        this.info = "Datos Actualizados con éxito";
        //si todo va bien emite un objeto con los datos actualizados
        this.$emit("cambio-datos", {
          nombre: campos.name,
          idioma: campos.favourite_language,
          pais: campos.country,
        });
      }
    },
    //callback del cambio e avatar
    avisoCambioAvatar(campos, respuesta) {
      this.avatarinfo = "Avatar cambiado con exito";
      this.infoAvClass = "success-box";
      //emite un evento con el nuevo path
      this.$emit("cambio-avatar", respuesta.data.path);
    },
    //callback de borrar avatar
    avisoBorradoAvatar() {
      this.avatarinfo = "Avatar borrado con exito";
      this.infoAvClass = "success-box";
      //emite el evento
      this.$emit("cambio-avatar", null);
    },
    //true or false en funcion de si encuentra algun error
    puedeModificar() {
      for (let i = 0; i < this.opciones.length; i++) {
        if (this.opciones[i].class === "error") {
          return false;
        }
      }
      return true;
    },
    //se validan los inputs en funcion del pattern que se les pasa
    validaInputs(objeto, valor) {
      let reg = new RegExp(objeto.pattern);
      if (!reg.test(valor) && valor !== "") {
        this.setError(objeto);
      } else {
        this.resetObj(objeto);
      }
    },
    //se valida el select mirando si está entre las ocpiones que se les ha pasado
    validaSelect(objeto, valor) {
      let opciones = objeto.options;
      if (!Object.prototype.hasOwnProperty.call(opciones, valor)) {
        this.setError(objeto);
      } else {
        this.resetObj(objeto);
      }
    },
    //valida la password nueva mirando si es igual que la confirmación
    //si no se ha rellenado ninguno de los 2 devuelve undefined
    validaPass(nueva, confirmacion) {
      if (nueva === undefined || nueva === "") {
        return undefined;
      } else {
        return nueva === confirmacion;
      }
    },
    //Si no es correcta avisa de que no es correcta.
    //Si es correcta quita el aviso previo de que no es correcta
    validaCampoPassword(objeto, pwvalida, comparable) {
      if (!pwvalida && pwvalida !== undefined) {
        this.validaInputs(objeto, comparable.new_password);
        this.setErrorPw(objeto, "Las contraseñas No coinciden");
      } else {
        this.resetObj(objeto);
      }
    },

    validaValidacionPassword(pwvalida, objeto) {
      if (!pwvalida && pwvalida !== undefined) {
        this.setErrorPw(objeto, "");
      } else {
        this.resetObj(objeto);
      }
    },
    //revisa que se haya introducido la antigua contraseña
    validaOldPassword(old, objeto) {
      this.validaInputs(objeto, old);
      if (old === undefined || old.length === 0) {
        this.setErrorPw(objeto, "Debes introducir la contraseña antigua");
      }
    },
    //establece el mensaje de error, basandose en el title del objeto que configura el formulario
    // crea la propiedad errormessage al objeto
    setError(obj) {
      Vue.set(obj, "class", "error");
      Vue.set(obj, "value", "");
      Vue.set(obj, "errormessage", obj.title);
    },
    //establece el mensaje de error para las contraseñas
    setErrorPw(obj, error) {
      Vue.set(obj, "class", "error");
      Vue.set(obj, "value", "");
      let errorAnterior =
        obj.errormessage !== undefined ? obj.errormessage + " " : "";
      Vue.set(obj, "errormessage", errorAnterior + error);
    },
    borrarCuenta() {
      this.llamadaServidor(
        "delete",
        "/scrabble/user/remove",
        "",
        this.borradoOk
      );
    },
    //si se borra bien la cuenta hace una cuenta atras antes de redirigir a la pagina principal
    borradoOk() {
      this.infoClass = "success-box";
      this.info = "Cuenta borrada con éxito";
      setTimeout(() => (window.location.href = "/"), 3000);
    },
    //si no hay errores de validación quita la class y errormessage del objeto
    resetObj(objeto) {
      Vue.delete(objeto, "class");
      Vue.delete(objeto, "errormessage");
    },
    // devuelve si hay solo datos en la peticion ( que no se borra el avatar ni se añade uno nuevo)
    soloDatos(datos) {
      let count = 0;
      if (datos.avatar !== undefined) {
        count++;
      }
      if (datos.remove_avatar !== undefined) {
        count++;
      }
      return Object.keys(datos).length > count;
    },
  },
};
//PD: Si comentas 3 semanas despues de haber hecho el componente luego no te acuerdas de la mitad  de lo que hacia :)
//True Story
</script>
