<!-- Componente que te hace una rejilla en funcion de los parametros que le pasas -->
<template>
  <div class="grid--component" :style="gridCols">
    <slot name="cols" />
  </div>
</template>
<script>
export default {
  name: "GridComponent",
  props: {
    columns: { type: Number, default: 2 },
    colsize: { type: String, default: "50% 50%" },
  },
  computed: {
    gridCols: function () {
      return {
        "grid-template-columns": this.colsize,
      };
    },
  },
};
</script>
<style scoped lang="scss">
.grid--component {
  display: grid;
  justify-content: center;
  row-gap: 2rem;
  @media (min-width: 993px) and(max-width: 1600px) {
    grid-template-columns: auto !important;
    justify-content: center;
    width: 50vw;
  }
  @media (max-width: 992px) {
    grid-template-columns: auto !important;
    justify-content: center;
  }
}
</style>
