<!--componente que genera una tabla y la paginacion con el historico de las partidas-->
<template>
  <div>
    <h3 class="titulos">Histórico de partidas</h3>
    <p v-if="sinHistorial">Nada que enseñar {{ error }}</p>
    <div v-else class="tabla">
      <tabla-component
        :datos="datosPartidas"
        :headers="cabeceras"
        :imagenesid="idimgs"
        :iconsid="idicons"
        centered
      />
    </div>
    <div>
      <!--Lo suyo seria que pudieran ir ala ultima/primera pagina con facilidad-->
      <a
        v-for="(pagina, index) in paginacion"
        v-show="pagina.url !== null"
        :key="index"
        :class="determinaclase(pagina.active)"
        @click="siguientePagina(pagina.url)"
      >
        {{ pagina.label }}
      </a>
    </div>
    <p>
      Leyenda: <i class="fas fa-trophy" /> Ganada
      <i class="fas fa-sad-tear" /> Perdida <i class="fas fa-user-clock" /> Por
      empezar <i class="fas fa-play" /> Tu turno <i class="fas fa-pause" /> Su
      turno
    </p>
  </div>
</template>
<script>
import axios from "axios";
import TablaComponent from "./TablaComponent.vue";
export default {
  name: "HistoricoPartidas",
  components: {
    TablaComponent,
  },
  props: {
    paginationclass: { type: String, default: "" },
    userid: { type: Number, required: true },
  },
  data: function () {
    return {
      partidas: [],
      paginas: 0,
      paginacion: [],
      paginar: {},
      cabeceras: ["Estado", "Oponente", "Puntuación", "Idioma", "Últ. Accion"],
      idicons: ["status"],
      idimgs: ["oponente"],
      error: "",
    };
  },
  computed: {
    //no puedo hacer un filtro de esto porque estoy modificando por completo el objeto que me entra
    //para pasarselo al componente tabla...
    datosPartidas: function () {
      let arr = [];
      for (let i = 0; i < this.partidas.length; i++) {
        //set players
        let me = this.whoAmI(
          this.partidas[i].player1,
          this.partidas[i].player2
        );
        let oponente =
          me.jugador === this.partidas[i].player1
            ? this.partidas[i].player2
            : this.partidas[i].player1;
        //inicializo objeto partida
        let partida = {};
        this.setStatus(partida, this.partidas[i].state, me.suffix);
        this.setOponente(partida, oponente);
        this.setPuntos(partida, me, this.partidas[i]);
        this.setIdioma(partida, this.partidas[i].language);
        this.setFecha(partida, this.partidas[i].updated_at);
        arr.push(partida);
      }

      return arr;
    },
    sinHistorial() {
      return this.partidas.length === 0;
    },
  },

  created() {
    this.llamadaServidor("/scrabble/user/games/10", this.asignarDatos);
  },
  methods: {
    asignarDatos(response) {
      this.paginas = response.data.last_page;
      this.paginacion = response.data.links;
      this.partidas = response.data.data;
    },
    whoAmI(player1, player2) {
      return player1.id === this.userid
        ? { jugador: player1, suffix: "1" }
        : { jugador: player2, suffix: "2" };
    },
    setStatus(obj, dato, sufijo) {
      let clase;
      let texto;
      if (dato === "unstarted") {
        clase = "fas fa-user-clock fa-2x nodestacada";
        texto = "Partida por empezar";
      } else if (dato.startsWith("win_")) {
        if (dato.endsWith(sufijo)) {
          clase = "fas fa-trophy fa-2x nodestacada";
          texto = "¡Ganaste!";
        } else {
          clase = "fas fa-sad-tear fa-2x  nodestacada";
          texto = "perdiste";
        }
      } else if (dato.startsWith("turn_")) {
        if (dato.endsWith(sufijo)) {
          clase = "fas fa-play fa-2x nodestacada ";
          texto = "tu turno";
        } else {
          //su turno
          clase = "fa fa-pause fa-2x nodestacada";
          texto = "Esperando la jugada del oponente";
        }
      }
      obj.status = {
        clase: clase,
        text: texto,
        event: null,
      };
    },
    setOponente(obj, player) {
      obj.oponente = {
        src: player.avatar !== null ? player.avatar : "/img/girlvatar.png",
        texto: player.name,
      };
    },
    setPuntos(obj, yo, datos) {
      let puntosOponente;
      let mispuntos;
      if (yo.suffix == 1) {
        mispuntos = datos.player_1_score;
        puntosOponente = datos.player_2_score;
      } else {
        mispuntos = datos.player_2_score;
        puntosOponente = datos.player_1_score;
      }
      obj.puntuacion = puntosOponente + " - " + mispuntos;
    },
    setIdioma(obj, dato) {
      let lengua = dato === "en" ? "English" : "Español";
      obj.idioma = lengua;
    },
    setFecha(obj, dato) {
      let tempDate = new Date(dato);
      obj.fecha =
        tempDate.toLocaleDateString() + " " + tempDate.toLocaleTimeString();
    },
    siguientePagina(url) {
      if (url !== null) {
        this.llamadaServidor(url, this.asignarDatos);
      }
    },
    determinaclase(valor) {
      return valor ? "active letra" : "letra";
    },
    llamadaServidor(url, callback) {
      let mivue = this;
      return axios
        .get(url)
        .then(function (response) {
          callback(response);
        })
        .catch(function (error) {
          //sacar el error por alguna parte
          mivue.error = error;
          console.log(error);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
a {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem 0.2rem;
}
.active {
  border-style: outset;
  color: #000;
}
p > i {
  margin-left: 1rem;
}
.tabla {
  margin-top: 1.5rem;
}
</style>
