<template>
  <div>
    <p v-show="juegoFinalizado" :class="claseResultado">
      El ganador es {{ winner }}
    </p>
    <p v-show="error" class="error-box">{{ error }}</p>
    <div class="display--big">
      <ul>
        <li>
          Idioma:
          <!--filtro idioma-->
          <img
            :src="game.language | idioma"
            :alt="game.language"
            :title="game.language"
            class="langimage"
          />
        </li>
        <!--ACTUALIZAR ESTA TAMBIEN-->
        <li>Letras restantes: {{ letrasRestantes }}</li>
      </ul>
      <!--info de jugadores, mostrar siempre arriba el p1 y abajo el p2-->

      <div :class="{ noturno: gameState === 'turn_p2' }">
        <h5 class="titulos">Jugador 1</h5>
        <user-info :datosusuario="datosPlayer1" :rutaavatar="player1.avatar" />
      </div>
      <div :class="{ noturno: gameState === 'turn_p1' }">
        <h5 class="titulos">Jugador 2</h5>
        <user-info :datosusuario="datosPlayer2" :rutaavatar="player2.avatar" />
      </div>
      <!--abandono//alinear al centro o hacer fullwidth-->
      <button v-show="!juegoFinalizado" @click="surrender()">Rendirse</button>
    </div>
    <!--- info partida moviles-->
    <div class="menu-dashboard--slim" aria-label="Menu Partida">
      <ul>
        <li title="Fichas Restantes">
          <span class="letra"> {{ letrasRestantes }} <sub>letras</sub> </span>
        </li>
        <li title="Tu perfil" :class="{ noturno: gameState === 'turn_p2' }">
          <img
            :src="player1.avatar | defaultAvatar"
            title="Perfil"
            class="rounded-avatar"
          />
          <sup>{{ datosPlayer2.score }}</sup>
        </li>
        <li
          title="Perfil contrincante"
          :class="{ noturno: gameState === 'turn_p1' }"
        >
          <img
            :src="player2.avatar | defaultAvatar"
            title="Perfil"
            class="rounded-avatar"
          />
          <sup>{{ datosPlayer2.score }}</sup>
        </li>
        <li title="Idioma">
          <img
            :src="game.language | idioma"
            title="Idioma"
            class="rounded-avatar"
          />
        </li>
        <li v-show="!juegoFinalizado" title="Abandonar" @click="surrender()">
          <i class="fas fa-times fa-4x list-icon--slim" aria-hidden="true" />
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import UserInfo from "./userInfo.vue";
import axios from "axios";

export default {
  name: "InfoPartida",
  components: { UserInfo },
  filters: {
    idioma: function (val) {
      return "/img/" + val + ".png";
    },
    prettyDate: function (valor) {
      const date = new Date(valor);
      return date.toLocaleDateString();
    },
    defaultAvatar: function (val) {
      return val === "" ? "/img/girlvatar.png" : val;
    },
  },
  props: {
    usuario: { type: Object, required: true },
    oponente: { type: Object, required: true },
    game: { type: Object, required: true },
    //add validator
    datosActualizados: { type: Object, default: () => {} },
  },
  data: function () {
    return {
      error: "",
      //  savedScore: null,
      player1: {},
      player2: {},
      //es como gameState salvo que si llega un state win no se va a actualizar
      ultimoTurno: "",
    };
  },
  watch: {
    //cuando se actualza el score se guardan las puntuaciones de player1/2 en funcion del state
    "datosActualizados.score"(v) {
      if (v !== undefined) {
        if (this.gameState === "turn_p1") {
          this.player2.score = this.datosActualizados.score;
        } else if (this.gameState === "turn_p2") {
          this.player1.score = this.datosActualizados.score;
        } else if (
          this.gameState.startsWith("win_") &&
          this.ultimoTurno === "turn_p1"
        ) {
          this.player1.score = this.datosActualizados.score;
        } else if (
          this.gameState.startsWith("win_") &&
          this.ultimoTurno === "turn_p2"
        ) {
          this.player2.score = this.datosActualizados.score;
        }
      }
    },
    "datosActualizados.state"(v) {
      if (!v.startsWith("win_") && v !== "") {
        this.ultimoTurno = v;
      }
    },
  },
  computed: {
    gameState: function () {
      return this.datosActualizados !== undefined &&
        this.datosActualizados.state !== ""
        ? this.datosActualizados.state
        : this.game.state;
    },
    datosPlayer1: function () {
      //si ahora le toca al 2 es que lo que viene es del 1
      return { nombre: this.player1.name, puntos: this.player1.score };
    },
    datosPlayer2: function () {
      return { nombre: this.player2.name, puntos: this.player2.score };
    },
    winner: function () {
      if (this.gameState == "win_p1") {
        return this.player1.name;
      } else if (this.gameState == "win_p2") {
        return this.player2.name;
      }
      return null;
    },
    juegoFinalizado: function () {
      if (this.gameState !== undefined) {
        return this.gameState.startsWith("win_");
      }
      return false;
    },
    claseResultado: function () {
      return this.winner === this.usuario.name ? "success-box" : "error-box";
    },
    letrasRestantes: function () {
      if (
        this.datosActualizados !== undefined &&
        "remaining" in this.datosActualizados
      ) {
        return this.datosActualizados.remaining;
      } else {
        return this.game.remaining_tokens;
      }
    },
  },
  created() {
    this.player1 = this.usuario.player === "P1" ? this.usuario : this.oponente;
    this.player2 = this.usuario.player === "P2" ? this.usuario : this.oponente;
    this.ultimoTurno = this.game.state;
  },
  methods: {
    surrender() {
      const url = "/scrabble/game/" + this.game.id + "/giveup";
      return axios
        .post(url)
        .then(function () {
          //nos salimos de la partida?
          //quiza mejor poner cuadrito de error-box...y luego salir
          window.location.href = "/scrabble/dashboard/";
        })
        .catch(function (error) {
          this.error = error;
          console.log(error);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
ul {
  list-style-type: none;
}
li > p {
  text-align: center;
}
.langimage {
  width: 40px;
  height: 40px;
}
div {
  margin: 1.5rem 0;
}
.noturno {
  opacity: 0.5;
}

button {
  background-color: #787878;
  color: #fff;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5%;
  margin: 1rem;
  font-weight: 400;
  width: 95%;
  &:hover {
    background-color: #5a6268;
  }
}
</style>
