<!--componente de componentes para mostrar la información de las distintas partidas-->
<template>
  <div>
    <p>
      Aquí tienes el resumen de tus partidas actuales y retos pendientes de
      asignar.
    </p>
    <grid-component :columns="2" colsize="55% 40%">
      <template #cols>
        <partidas-juego :datos="datospartidas" />
        <challenges-pendientes
          :datos="datosactualizadosChallenges"
          clase="titulos"
        />
      </template>
    </grid-component>
  </div>
</template>
<script>
import GridComponent from "./gridComponent.vue";
import PartidasJuego from "./PartidasJuego.vue";
import ChallengesPendientes from "./challengesPendientes.vue";
export default {
  name: "InfoPartidas",
  components: {
    GridComponent,
    PartidasJuego,
    ChallengesPendientes,
  },
  //los datosactualizados, no obligatorios, por si el padre decide que el objeto que forma los challenges debe tener alguno más.
  props: {
    datospartidas: { type: Array, required: true },
    datoschallenges: { type: Array, required: true },
    datosactualizados: { type: Object, default: () => {} },
  },
  data: function () {
    return {
      datosactualizadosChallenges: [],
    };
  },
  watch: {
    //si llega un dato actualizado se añade al computed de los challenges
    datosactualizados(v) {
      if (Object.keys(v).length > 0) {
        this.datosactualizadosChallenges.push(v);
      }
    },
  },
  //asi evitamos modificar la propiedad que nos manda el padre
  created: function () {
    this.datosactualizadosChallenges = this.datoschallenges;
  },
};
</script>
