<!--componente que muestra las notificaciones que se le pasan por prop-->
<template>
  <div>
    <h3 class="titulos">Notificaciones</h3>
    <p>{{ info }}</p>
    <button v-if="checkedLeer" @click="marcarLeidos">
      Marcar como Leído <span>{{ cuantosMarcados }}</span>
    </button>
    <button v-if="checkedNoleer" @click="marcarNoLeidos">
      Marcar como no Leído <span>{{ cuantosMarcados }}</span>
    </button>
    <button v-if="checkedBorrar" @click="borrarMensajes">
      Borrar <span>{{ cuantosMarcados }}</span>
    </button>
    <template v-if="noleidos.length > 0">
      <h4 class="titulos">No Leídos</h4>
      <tabla-component
        :datos="noleidos"
        :headers="cabeceras"
        seleccionable
        @checked="addSeleccionado"
      />
    </template>
    <p v-else class="titulos">Nada nuevo por leer</p>
    <template v-if="leidos.length > 0">
      <h4 class="titulos">Leídos</h4>
      <tabla-component
        :datos="leidos"
        :headers="cabeceras"
        seleccionable
        @checked="addSeleccionado"
      />
    </template>
    <p v-else class="titulos">Nada antiguo por leer</p>
  </div>
</template>

<script>
//este import no funciona
import TablaComponent from "./TablaComponent";
import axios from "axios";
export default {
  name: "NotificationsComponent",
  components: {
    TablaComponent,
  },
  props: {
    datos: { type: Array, required: true },
  },
  data: function () {
    return {
      cabeceras: ["", "Fecha", "Mensaje"],
      marcados: [],
      noLeidosdatos: [],
      leidosDatos: [],
      info: "",
    };
  },
  computed: {
    noleidos: function () {
      return this.datosMensaje(this.noLeidosdatos);
    },
    leidos: function () {
      return this.datosMensaje(this.leidosDatos);
    },
    cuantosMarcados: function () {
      return this.marcados.length > 0 ? this.marcados.length : "";
    },
    checkedBorrar: function () {
      return this.marcados.length > 0;
    },
    hayLeidos: function () {
      return this.marcados.some((id) => this.buscartipo(id, this.leidosDatos));
    },
    hayNoLeidos: function () {
      return this.marcados.some((id) =>
        this.buscartipo(id, this.noLeidosdatos)
      );
    },
    checkedLeer: function () {
      return !this.hayLeidos && this.hayNoLeidos;
    },
    checkedNoleer: function () {
      return !this.hayNoLeidos && this.hayLeidos;
    },
  },
  //cuando hay cambios en los mensajes leidos mandamos un evento para q el padre actualice el numero
  watch: {
    noLeidosdatos: function (v) {
      this.$emit("cambio-noleidos", v.length);
    },
  },
  created: function () {
    this.cargarTodosLosMensajes();
  },
  methods: {
    addSeleccionado: function (v) {
      //si esta marcado lo añado, si no, lo quito
      if (v.statusChecked) {
        this.marcados.push(v.id);
      } else {
        let pos = this.marcados.indexOf(v.id);
        this.marcados.splice(pos, 1);
      }
    },
    buscartipo(elemento, tipo) {
      return tipo.some((t) => t.id == elemento);
    },
    borrarMensajes() {
      //llamada ajax para borrar
      this.marcarMensajes("delete");
    },
    marcarLeidos() {
      this.marcarMensajes("read");
    },
    marcarNoLeidos() {
      this.marcarMensajes("unread");
    },
    marcarMensajes(nuevoestado) {
      for (let i = 0; i < this.marcados.length; i++) {
        let urlLlamada =
          "/scrabble/notification/" +
          this.marcados[i] +
          "/update/" +
          nuevoestado;
        this.llamadaServidor("put", urlLlamada, () => {
          //esto deberia hacerlo despues...
          this.cargarTodosLosMensajes();
          this.marcados = [];
        });
      }
    },
    cargarTodosLosMensajes() {
      this.llamadaServidor(
        "get",
        "/scrabble/user/notifications/unread",
        this.asignarDatosNoLeidos
      );
      this.llamadaServidor(
        "get",
        "/scrabble/user/notifications/read",
        this.asignarDatosLeidos
      );
    },
    datosMensaje(cuales) {
      //solo quiero coger determinadas propiedades para enseñarlas
      //mirar si el objeto q me llega tiene esas propiedades antes de meterselas...,??
      let misDatos = [];
      for (let i = 0; i < cuales.length; i++) {
        let myObjTemp = {};
        myObjTemp.id = cuales[i].id;
        let tempDate = new Date(cuales[i].created_at);
        myObjTemp.fecha =
          tempDate.toLocaleDateString() + " " + tempDate.toLocaleTimeString();
        myObjTemp.mensaje = cuales[i].notification;
        //myObjTemp.checked = false;
        misDatos.push(myObjTemp);
      }
      return misDatos;
    },
    asignarDatosNoLeidos(response) {
      if (this.noLeidosdatos.length > 0) {
        this.noLeidosdatos = [];
      }
      for (let i = 0; i < response.data.length; i++) {
        this.noLeidosdatos.push(response.data[i]);
      }
    },
    asignarDatosLeidos(response) {
      if (this.leidosDatos.length > 0) {
        this.leidosDatos = [];
      }
      for (let i = 0; i < response.data.length; i++) {
        this.leidosDatos.push(response.data[i]);
      }
    },
    llamadaServidor(method, url, callback, datos) {
      let axiosUp;
      if (method == "put") {
        axiosUp = axios.put;
      } else if (method == "get") {
        axiosUp = axios.get;
      }
      return axiosUp(url, datos)
        .then(function (response) {
          callback(response);
        })
        .catch(function (error) {
          //sacar el error por alguna parte
          this.info = error.message;
          console.log(error);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
button {
  background-color: #787878;
  color: #fff;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 5%;
  margin: 1rem;
  font-weight: 400;
  &:hover {
    background-color: #5a6268;
  }
}
h4 {
  text-align: right;
}
</style>
