<!--componente q te muestra las partidas actuales de un usuario en una tabla
y permite acceder a ellas o abandonarlas-->
<template>
  <div class="flexcol">
    <h3 class="titulos">Partidas en Juego</h3>
    <p>
      <i class="fas fa-user-clock nodestacada" /> En espera
      <i class="fas fa-play destacada" /> Tu turno
      <i class="fas fa-play nodestacada" /> Su turno
      <i class="fas fa-times" /> Abandonar
    </p>
    <!--centrar o no??-->
    <tabla-component
      :headers="cabeceras"
      :datos="datosFinales"
      :imagenesid="idimagenes"
      :iconsid="idicons"
    />
  </div>
</template>
<script>
import axios from "axios";
import TablaComponent from "./TablaComponent.vue";

export default {
  name: "PartidasJuego",
  components: {
    TablaComponent,
  },
  props: {
    datos: { type: Array, default: () => [] },
  },
  data: function () {
    return {
      cabeceras: ["", "", "Oponente", "Puntuacion", "Idioma"],
      idimagenes: ["oponente"],
      idicons: ["continuar", "abandonar"],
      listaNoVisibles: [],
    };
  },
  computed: {
    datosFinales: function () {
      let miArr = [];
      for (let i = 0; i < this.datos.length; i++) {
        if (!this.listaNoVisibles.includes(this.datos[i].id)) {
          let miObj = {};
          this.setReanudarPartida(miObj, this.datos[i]);
          this.setAbandonarPartida(miObj, this.datos[i].id);
          this.setOponent(miObj, this.datos[i].opponent[0]);
          this.setPuntuacion(miObj, this.datos[i]);
          this.setIdioma(miObj, this.datos[i].language);

          miArr.push(miObj);
        }
      }
      return miArr;
    },
  },
  methods: {
    setOponent(ob, dato) {
      ob.oponente = {
        src:
          dato.avatar !== null
            ? "/storage/" + dato.avatar
            : "/img/girlvatar.png",
        texto: dato.name,
      };
    },
    setPuntuacion(ob, dato) {
      ob.puntuacion = dato.opponent_score + " -  " + dato.player_score;
    },
    setIdioma(ob, dato) {
      ob.idioma = dato === "en" ? "English" : "Español"; //cambiar a bandera?
    },
    setIconState(state) {
      //HAY UN STATE 2!!
      if (state == 1) {
        return "fas fa-play destacada pointer";
      } else if (state == 0) {
        return "fas fa-user-clock nodestacada pointer";
      } else {
        return "fas fa-play nodestacada pointer";
      }
    },
    setReanudarPartida(obj, datos) {
      console.log(datos);
      obj.continuar = {
        event: this.jugarPartidaId,
        clase: this.setIconState(datos.state),
        text: "Jugar",
        param: datos.id,
      };
    },
    setAbandonarPartida(obj, datos) {
      obj.abandonar = {
        clase: "fas fa-times pointer",
        event: this.abandonarPartida,
        text: "Abandonar",
        param: datos,
      };
    },
    jugarPartidaId(id) {
      window.location.href = "/scrabble/game/" + id;
    },
    abandonarPartida(id) {
      let url = "/scrabble/game/" + id + "/giveup";
      //eliminar esa partida de la lista
      this.llamadaServidor(url, id);
    },
    llamadaServidor(url, datos) {
      let mivue = this;
      return axios
        .post(url)
        .then(function (response) {
          console.log(response);
          mivue.listaNoVisibles.push(datos);
        })
        .catch(function (error) {
          //sacar el error por alguna parte
          alert(error);
          console.log(error);
        });
    },
  },
};
</script>
<style lang="scss" scoped>
.flexcol {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nodestacada {
  opacity: 0.5;
}
p {
  font-size: 0.9rem;
  margin-top: 1rem;
}
p > i {
  margin-left: 1rem;
}
</style>
