<!--componente que permite solicitar retos de forma anonima o buscando un oponente-->
<template>
  <div>
    <h5 class="titulos">¿Una partida?</h5>
    <div class="tarjeta">
      <!--si no se busca nada aparecen los habituales-->
      <div v-if="sinBusqueda">
        <div>
          <p class="titulos">Elige un habitual:</p>
          <a
            v-for="(user, index) in jugadoresHabituales"
            :key="index"
            @click="nextStepPartidaRapida(user)"
          >
            <!--si pongo un template para q no me pille a mi misma si puedo pasar todo eso a filtros??-->
            <img
              :src="user.avatar | storage"
              :alt="user.name"
              :title="user.name"
            /><span>{{ user.name }}</span>
          </a>
        </div>
      </div>
      <!--livesearch por nombre del jugador-->
      <div :class="claseformulario">
        <label class="titulos" for="buscarjugador">Busca un jugador</label>

        <input
          id="buscarjugador"
          v-model.trim="jugador"
          type="text"
          placeholder="elige jugador"
          :name="jugador"
        />
      </div>
      <div class="box-grid">
        <div>
          <a
            v-for="(user, index) in opcionesPartida"
            :key="index"
            @click="nextStepPartidaBusqueda(user.id)"
          >
            <img
              :src="user.avatar | storage"
              :alt="user.name"
              :title="user.name"
            /><span>{{ user.name }}</span>
          </a>
        </div>
        <div v-if="mostrarIdioma">
          <img src="/img/en.png" @click.once="setChallengebyid('en')" />
          <img src="/img/es.png" @click.once="setChallengebyid('es')" />
        </div>
      </div>
    </div>
    <!--mensaje de confirmacion de partida o de error-->
    <p v-if="hayinfo" :class="claseInfo">{{ info }}</p>
    <!--partidas anonimas y aleatorias-->
    <div class="tarjeta">
      <div>
        <p class="titulos">¿Prefieres buscar por nivel?</p>
        <p>
          <span v-show="paso == 1" class="letra">1º<sub>paso:</sub></span>
          <i
            class="fas fa-less-than-equal fa-2x"
            :class="{ seleccionado: rango === '<=' }"
            @click="solicitarPartidaPorNivel('<=')"
          />
          <i
            class="fas fa-equals fa-2x"
            :class="{ seleccionado: rango === '=' }"
            @click="solicitarPartidaPorNivel('=')"
          />
          <i
            class="fas fa-greater-than-equal fa-2x"
            :class="{ seleccionado: rango === '>=' }"
            @click="solicitarPartidaPorNivel('>=')"
          />
        </p>
        <!--que aparezca cuando dan a un simbolo-->
      </div>
      <div v-show="mostrarIdiomaPorNivel">
        <span v-show="paso == 2" class="letra">2º<sub>paso:</sub></span>

        <input
          v-model="nivel"
          type="number"
          min="1"
          title="Introduce el nivel"
        />
        <!--porque si ne la bbdd hay hasta nivel 13 solo me deja pedir hasta 5???-->
        <img src="/img/en.png" @click="setPartidaPorNivel('en')" />
        <img src="/img/es.png" @click="setPartidaPorNivel('es')" />
      </div>
      <div>
        <p class="titulos">¿O te dejas sorprender?</p>
        <button class="btn btn-dark" @click="partidaRandom()">
          Partida Aleatoria
        </button>
      </div>
    </div>
  </div>
</template>
<script>
import axios from "axios";
export default {
  name: "PartidaRapida",
  filters: {
    storage: function (val) {
      return val == "/img/girlvatar.png"
        ? "/img/girlvatar.png"
        : "/storage/" + val;
    },
  },
  props: {
    usuales: { type: Array, default: () => [] },
    //  retos: { type: Array, default: () => [] },
    claseformulario: { type: String, default: " " },
    uid: { type: Number, required: true },
  },
  data: function () {
    return {
      campos: [{ type: "text", label: "Partida Rápida" }],
      jugador: "",
      resultadosBusqueda: [],
      mostrarIdioma: false,
      info: "",
      nivel: 1,
      mostrarIdiomaPorNivel: false,
      rango: undefined,
      paso: 1,
      claseInfo: "",
    };
  },
  computed: {
    opcionesPartida: function () {
      return this.rellenaDatos(this.resultadosBusqueda);
    },
    jugadoresHabituales: function () {
      return this.rellenaDatos(this.usuales);
    },
    sinBusqueda: function () {
      console.log("j" + this.jugadores);
      return this.jugador === "";
    },
    hayinfo: function () {
      return this.info.length > 1 && this.info.length !== "";
    },
  },
  watch: {
    jugador: function () {
      //llamo al servidor y edito la lista de posibles
      this.mostrarIdioma = false;
      if (this.jugador != "") {
        this.llamadaServidor(
          "get",
          "/scrabble/search/user/live?name=" + this.jugador,
          (response) => {
            this.resultadosBusqueda = response.data;
          }
        );
      } else {
        this.resultadosBusqueda = [];
      }
    },
  },
  methods: {
    llamadaServidor(method, url, callback) {
      let miVue = this;
      let axiosUp;
      if (method == "get") {
        axiosUp = axios.get;
      } else {
        axiosUp = axios.post;
      }
      return axiosUp(url)
        .then(function (response) {
          miVue.claseInfo = "success-box";
          callback(response);
        })
        .catch(function (error) {
          //sacar el error por alguna parte
          miVue.claseInfo = "error-box";
          miVue.info = "Error: " + error.response.data;
          console.log(error.response);
          this.resetData;
          //reset datos de consulta:
        });
    },
    resetData() {
      this.jugador = "";
      this.resultadosBusqueda = [];
      this.mostrarIdioma = false;
      //this.info = "";
      this.nivel = 1;
      this.mostrarIdiomaPorNivel = false;
      this.rango = undefined;
      this.paso = 1;
    },
    sendingObject(lan, name, level, date) {
      return { language: lan, name: name, level: level, created_at: date };
    },
    nextStepPartidaRapida(dato) {
      this.selectedid = dato.id;
      this.resultadosBusqueda = [dato];
      this.mostrarIdioma = true;
    },
    nextStepPartidaBusqueda(dato) {
      this.resultadosBusqueda = [
        this.resultadosBusqueda.find((user) => user.id === dato),
      ];
      this.mostrarIdioma = true;
      this.selectedid = dato;
    },
    setChallengebyid(lang) {
      const url =
        "/scrabble/challenge/request/" + lang + "/against/" + this.selectedid;
      this.challenge(url, () => {
        //contimeoutbetterrr
        setTimeout(() => (this.info = ""), 2000);
        //busco el usuario desde el id para obtener su nombre y emitir el evento de q un nuevo reto se ha generado
        this.$emit(
          "new-challenge",
          this.sendingObject(
            lang,
            this.resultadosBusqueda[0].name,
            0,
            new Date()
          )
        );
        this.info = "Reto solicitado con éxito";
        this.selectedid = undefined;
        this.resultadosBusqueda = [];
        this.mostrarIdioma = false;
        this.jugador = "";
      });
    },
    challenge(url, callback) {
      this.llamadaServidor("post", url, callback);
    },
    rellenaDatos(base) {
      let arr = [];
      for (let i = 0; i < base.length; i++) {
        //no puedo jugar contra mi misma
        if (base[i].id !== this.uid) {
          let datosUser = {
            id: base[i].id,
            name: base[i].name,
            avatar:
              base[i].avatar === null ? "/img/girlvatar.png" : base[i].avatar,
          };
          arr.push(datosUser);
        }
      }
      return arr;
    },
    partidaRandom() {
      const lan = ["es", "en"];
      let rd = Math.round(Math.random());
      this.challenge("/scrabble/challenge/request/" + lan[rd], () => {
        this.info = "Reto solicitado con éxito";
        this.$emit(
          "new-challenge",
          this.sendingObject(lan[rd], null, 0, new Date())
        );
      });
    },
    solicitarPartidaPorNivel(rango) {
      this.mostrarIdiomaPorNivel = true;
      this.rango = rango;
      this.paso = 2;
    },
    setNivelPartida() {
      if (this.rango === "<=") {
        return "-" + this.nivel;
      } else if (this.rango === ">=") {
        //check 0 -> empezará por 1,  es aleatorio
        return this.nivel * 10;
      } else if (this.rango === "=") {
        return this.nivel;
      }
    },
    setPartidaPorNivel(lang) {
      const tiponivel = this.setNivelPartida();
      const url = "/scrabble/challenge/request/" + lang + "/level/" + tiponivel;
      console.log(url);
      ///emito un evento para avisar a quien quiera oirlo de q se ha solicitado un nuevo reto
      this.challenge(url, () => {
        this.$emit(
          "new-challenge",
          this.sendingObject(lang, null, tiponivel, new Date())
        );
        this.info = "Reto solicitado con éxito";
        this.level = 0;
        this.rango = undefined;
        this.paso = 1;
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.tarjeta {
  border: 2px dotted #787878;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}
.tarjeta > div {
  margin-top: 1rem;
}
img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  filter: grayscale(100%);
}
a {
  display: block;
}
span:hover {
  border-bottom: 2px dotted #000;
  cursor: pointer;
}
.box-grid {
  display: grid;
  grid-template-columns: auto auto;
}
label {
  font-size: 1.1rem;
}
h5 {
  text-align: center;
  margin-top: 1.2rem;
}
i {
  margin-right: 1rem;
  &:first-of-type {
    margin-left: 1rem;
  }
}
</style>
