<!--componente que genera una tabla a partir de determinados datos de configuración
soporta checkbox, imagenes, radios e iconos-->
<template>
  <div>
    <table :class="{ center: centered }">
      <thead>
        <!-- si se especifican cabeceras se usaran ellas-->
        <tr v-if="hayHeaders">
          <th v-for="(cabecera, indice) in headers" :key="indice">
            {{ cabecera }}
          </th>
        </tr>
        <!-- y si no, se cogeran los nombres de las propiedades del objeto-->
        <tr v-else-if="hayData">
          <th v-if="seleccionable" />
          <th v-for="(dato, indice) in datos[0]" :key="indice">{{ indice }}</th>
        </tr>
      </thead>
      <tbody v-if="hayData">
        <!--cada fila es un objeto-->
        <tr v-for="(objeto, indice) in datos" :key="indice">
          <!-- cada celda es una propiedad, y tiene q emitir hacia el padre-->
          <td v-for="(valor, clave) in objeto" :key="clave">
            <input
              v-if="esCheckBox(clave)"
              type="checkbox"
              :value="valor"
              @change.prevent="
                $emit('checked', {
                  id: $event.target.value,
                  statusChecked: $event.target.checked,
                })
              "
            />
            <input
              v-else-if="esRadio(clave)"
              type="radio"
              :value="valor"
              name="unique"
              @change.prevent="
                $emit('checked', {
                  id: $event.target.value,
                  statusChecked: $event.target.checked,
                })
              "
            />
            <template v-else-if="esImagen(clave)">
              <img :src="valor.src" :title="valor.texto" :alt="valor.texto" />
              <span>{{ valor.texto }}</span>
            </template>
            <template v-else-if="esIcon(clave)">
              <i
                v-if="valor.event !== null"
                :class="valor.clase"
                :title="valor.text"
                @click.once="valor.event(valor.param)"
              />
              <i v-else :class="valor.clase" :title="valor.text" />
            </template>
            <span v-else>{{ valor }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
export default {
  name: "TablaComponent",
  props: {
    //si por defecto es un objeto o array hay q hacer que lo q es por defecto sea lo que devuelve una función
    headers: { type: Array, default: () => [] },
    datos: { type: Array, required: true },
    seleccionable: Boolean,
    unico: Boolean,
    imagenesid: { type: Array, default: () => [] },
    iconsid: { type: Array, default: () => [] },
    centered: Boolean,
  },
  computed: {
    hayHeaders: function () {
      return this.headers.length > 0;
    },
    hayData: function () {
      return this.datos.length > 0;
    },
  },
  methods: {
    esCheckBox(value) {
      //mas reutilizable si se le pasa por parametro el id del valor que se quiere q sea un checkbox
      return this.seleccionable & (value === "id");
    },
    esRadio(value) {
      return this.unico & (value === "id");
    },
    //si el valor es igual a algunas de los elementos de imagenesId es que es una imagen
    esImagen(value) {
      return this.imagenesid.some((img) => img == value);
    },
    esIcon(value) {
      return this.iconsid.some((icon) => icon == value);
    },
  },
};
</script>

<style lang="scss" scoped>
div {
  @media (max-width: 750px) {
    overflow-x: scroll;
    width: 85vw;
  }
}
table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;

  th,
  td {
    border-bottom: 2px solid #dee2e6;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
  }
}

tbody tr {
  &:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  &:nth-of-type(2n + 1) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  td {
    vertical-align: middle;
  }
}
img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  filter: grayscale(100%);
}
.pointer {
  cursor: pointer;
}
.destacada {
  color: #000;
}
.nodestacada {
  color: #808080;
}
.center {
  text-align: center;
}
</style>
