<template>
  <!--Si, es muuuuy largo, y seguro que esto habria que haberlo hecho en componentes pequeñitos que se comunicaran 
entre ellos-->

  <div>
    <h3 class="titulos">Tablero de juego</h3>
    <!--si no es tu turno no tienes porqué ver nada de eso-->
    <div v-if="miTurno" class="caja--acciones">
      <!--si no lo enseño no se le da oportunidad de hacer clic-->
      <input
        v-show="Object.keys(drops).length > 0 && puedeEnviarPalabra"
        type="submit"
        class="btn btn-dark boton"
        value="Enviar Palabra"
        @click="sendword"
      />
      <input
        type="submit"
        class="btn btn-dark ligth boton"
        :value="valueCambiandoLetras"
        @click="cambiarLetras"
      />
      <input
        type="submit"
        class="btn btn-dark light boton"
        value="Pasar turno"
        @click="pasar"
      />
    </div>
    <div class="caja--letras" :class="{ sticky: !cambiandoLetras }">
      <h5 class="titulos">Letras</h5>
      <div>
        <drop class="arealetras" @drop="dragDropAreaLetras">
          <!--haciendo una key compuesta evitamos, aunque no siempre, que no se rerendericen los datos cuando se elimina
      algun elemento del array, porque ni con $set/$delete lo hace, al cambiar la key cuando se elimina/añade algun elemento
      lo hace sin problema..-->
          <drag-letra
            v-for="(letra, index) in letrasDisponibles"
            :key="index + letra.letter"
            :letra="letra.letter | prettyLetra(language)"
            :score="letra.value"
            :origen="'arealetras' + index"
          />
        </drop>
      </div>
    </div>
    <div v-show="!cambiandoLetras" class="grid">
      <!--y decido entre letrafija o droppeable-letra-->
      <!--CAMBIAR POR TABLEBOARD-->
      <template v-for="(n, index) in tableboard">
        <!--le pongo la referencia para poder acceder más tarde a ello-->
        <div v-if="n !== ' '" :key="index" :ref="index">
          <span class="letra">{{ n | prettyLetra(language) }}</span>
        </div>
        <!--aqui tengo q usar ref para ver q no tenga nada ya??-->
        <drop
          v-else
          :id="index"
          :key="index"
          :class="index | claseTablero"
          @drop="dropDragTablero"
          @dragover.native="setOver"
          @dragleave.native="setLeave"
        >
          <!--crear elemento??-->
          <drag-letra
            v-if="drops[index] !== undefined"
            :letra="drops[index].letra | prettyLetra(language)"
            :score="drops[index].score"
            :origen="index"
          />
        </drop>
      </template>
    </div>
    <div v-show="cambiandoLetras" class="grid-drop-letras">
      <drop class="area-drop-letras" @drop="dropDragLetrasParaCambiar">
        <!--CAMBIAR GAME.LANGUAGE POR LANGUAGE-->
        <drag-letra
          v-for="(letra, index) in letrasParaCambiar"
          :key="index + letra.letter"
          :letra="letra.letter | prettyLetra(language)"
          :score="letra.value"
          :origen="'areacambioletras' + index"
        />
      </drop>
      <input
        type="submit"
        class="btn btn-dark light boton"
        value="cambiar"
        :disabled="letrasParaCambiar.length === 0 || !miTurno"
        @click="sendCambioLetras"
      />
    </div>
  </div>
</template>
<script>
import { Drop } from "vue-drag-drop";
import DragLetra from "./DragLetra.vue";
import axios from "axios";
import { ScrabbleHelper } from "../scrabble_helper_library.js";
import {
  letrasDobles,
  palabrasDobles,
  letrasTriples,
  palabrasTriples,
} from "../scrabbleModificadores.js";

export default {
  name: "TableroJuego",
  components: { DragLetra, Drop },
  //copypaste de var no reactiva, se usa con $options
  filters: {
    //aceptan + argumentos!
    prettyLetra: function (val, lan) {
      return ScrabbleHelper.getLetter(lan, val);
    },
    //quiza no deberia ser un filtro
    claseTablero: function (value) {
      if (letrasDobles.includes(value)) {
        return "doble-letra";
      } else if (letrasTriples.includes(value)) {
        return "triple-letra";
      } else if (palabrasDobles.includes(value)) {
        return "doble-palabra";
      } else if (palabrasTriples.includes(value)) {
        return "triple-palabra";
      }
    },
  },
  props: {
    state: {
      type: String,
      required: true,
      validator: function (val) {
        return val.startsWith("win_") || val.startsWith("turn_");
      },
    },
    tableboard: {
      type: String,
      required: true,
      validator: function (val) {
        return val.length === 225;
      },
    },

    id: { type: [String, Number], required: true },
    language: {
      type: String,
      required: true,
      validator: function (val) {
        return val.toUpperCase() === "ES" || val.toUpperCase() === "EN";
      },
    },
    userid: { type: [String, Number], required: true },
    usertokens: {
      type: Array,
      required: true,
      validator: function (val) {
        return val.length <= 7;
      },
    },
    userplayer: { type: String, required: true },
  },
  data: function () {
    return {
      drops: {},
      //move to computed? no...pero si un watch..., cuando se actualicen los tokens, también letras disponibles
      letrasDisponibles: [],
      letrasrestantes: null,
      cambiandoLetras: false,
      letrasParaCambiar: [],
    };
  },
  computed: {
    miTurno: function () {
      let norm = this.userplayer.toLowerCase();
      return this.state === "turn_" + norm;
    },
    valueCambiandoLetras() {
      return this.cambiandoLetras ? "Volver" : "Cambiar Letras";
    },
    //no tendria q hacer todo esto si hubiera creado un array de 225 posiciones
    //para los drops...
    dropOrdenado() {
      //las ordenamos de menor a mayor
      return Object.entries(this.drops).sort((a, b) => a[0] - b[0]);
    },
    posicionesAComprobar() {
      let posiciones = [];
      //nos quedamos solo con las posiciones para hacer los calculos
      this.dropOrdenado.forEach((e) => posiciones.push(e[0]));
      return posiciones;
    },
    esVertical() {
      return esVertical(this.posicionesAComprobar, this.$refs);
    },
    esHorizontal() {
      return esHorizontal(this.posicionesAComprobar, this.$refs);
    },
    direccionPalabra() {
      //falta pulir que cuando solo se manda 1 letra no tome q es vertical por defecto,
      //deberia comprobarlo antes
      return this.esVertical ? "V" : "H";
    },
    puedeEnviarPalabra() {
      return this.esVertical || this.esHorizontal;
    },
    objectTirada() {
      const row = calculaFila(parseInt(this.posicionesAComprobar[0]));
      const col = calculaColumna(parseInt(this.posicionesAComprobar[0]));
      return {
        direction: this.direccionPalabra,
        word: this.palabrasAEnviar(),
        column: col,
        row: row,
      };
    },
  },
  watch: {
    tableboard: function () {
      //solo si hay drops...
      this.allDropsToDrag();
    },
    usertokens: function (letrasrenovadas) {
      this.letrasDisponibles = letrasrenovadas;
    },
  },
  created: function () {
    this.bagLetras();
  },
  methods: {
    //oldway
    setOver(e) {
      document.getElementById(e.currentTarget.id).style.backgroundColor =
        "gray";
    },
    setLeave(e) {
      document.getElementById(e.currentTarget.id).style.backgroundColor = "";
    },
    bagLetras() {
      this.usertokens.forEach((letra) => {
        this.letrasDisponibles.push({
          letter: letra.letter,
          value: letra.value,
        });
      });
    },
    dropDragTablero(letra, event) {
      if (this.posicionTableroVacia(event.currentTarget.id)) {
        this.setLetraEnTablero(letra, event.currentTarget.id);
        if (this.esOrigenTablero(letra.origen)) {
          this.quitarLetraEnTablero(letra.origen);
        } else {
          this.quitarLetraDisponible(letra.origen);
        }
        this.setLeave(event);
      }
    },
    dragDropAreaLetras(data, event) {
      if (
        this.posicionTableroVacia(event.currentTarget.id) &&
        this.esOrigenTablero(data.origen)
      ) {
        this.quitarLetraEnTablero(data.origen);
        this.setLetraDisponible(data);
      } else if (data.origen.startsWith("areacambioletras")) {
        this.quitarLetraParaCambiar(data.origen);
        this.setLetraDisponible(data);
      }
    },
    dropDragLetrasParaCambiar(letra) {
      //Aqui solo vienen del area drop de letras o su misma area, pero
      //solo permitimos añadir si viene del area de letras
      if (!letra.origen.startsWith("areacambioletras")) {
        this.setLetraParaCambiar(letra);
        this.quitarLetraDisponible(letra.origen);
      }
    },
    allDropsToDrag() {
      //movemos todo lo que haya en el tablero al área de letras
      Object.values(this.drops).forEach((letra) => {
        this.setLetraDisponible(letra);
      });
      this.drops = {};
    },
    //movemos todo lo que hay en el area de cambio al area de letras disponibles
    allCambiarToDrag() {
      this.letrasParaCambiar.forEach((letra) => {
        this.setLetraDisponible({
          letra: letra.letter,
          score: letra.value,
        });
      });
      this.letrasParaCambiar = [];
    },
    setLetraParaCambiar(letra) {
      this.letrasParaCambiar.push({
        letter: letra.letra,
        value: letra.score,
      });
    },
    setLetraDisponible(letra) {
      this.$set(this.letrasDisponibles, this.letrasDisponibles.length, {
        letter: letra.letra,
        value: letra.score,
      });
    },
    setLetraEnTablero(letra, id) {
      this.$set(this.drops, id, letra);
    },
    quitarLetraEnTablero(origenletra) {
      this.$delete(this.drops, origenletra);
    },
    //YRY
    quitarLetraDisponible(origenletra) {
      const index = origenletra.substring(origenletra.length - 1);
      this.$delete(this.letrasDisponibles, index);
    },
    quitarLetraParaCambiar(origenletra) {
      const index = origenletra.substring(origenletra.length - 1);
      this.$delete(this.letrasParaCambiar, index);
    },
    posicionTableroVacia(id) {
      return !Object.keys(this.drops).includes(id);
    },
    esOrigenTablero(origenletra) {
      return typeof origenletra === "number";
    },
    //manejo de los botones
    sendword() {
      const url = "/scrabble/game/" + this.id + "/user/throw";
      this.llamadaServidor(url, this.objectTirada, (response) => {
        const uptokens = this.letrasDisponibles.concat(response.data.newtokens);
        this.$emit("update:usertokens", uptokens);
        this.$emit("new-score", response.data.pscore);
        this.$emit("update:state", response.data.state);
        this.$emit(
          "update:mensaje",
          "Has Jugado " + response.data.rword + " por" + response.data.wscore
        );
        this.$emit("new-tokens", response.data.newtokens.length);
        this.redibujaTablero(
          response.data.icol,
          response.data.irow,
          response.data.rword
        );
        //vaciamos los drops, ya que la tirada se ha realizado con éxito
        this.drops = {};
      });
    },
    palabrasAEnviar() {
      let palabras = [];
      this.dropOrdenado.forEach((letra) => palabras.push(letra[1].letra));
      return palabras
        .map((letra) => ScrabbleHelper.getCode(this.language, letra))
        .join("");
    },
    pasar() {
      const url = "/scrabble/game/" + this.id + "/user/pass";
      this.llamadaServidor(url, null, (response) => {
        this.$emit("update:state", response.data.state);
        this.cambiandoLetras = false;
        this.$emit("update:mensaje", "Has pasado");
        // this.$emit("new-score", response.data.pscore);
        if (this.letrasParaCambiar.length > 0) {
          this.allCambiarToDrag();
        }
      });
    },
    cambiarLetras() {
      this.cambiandoLetras = !this.cambiandoLetras;

      this.allDropsToDrag();
    },
    sendCambioLetras() {
      const url = "/scrabble/game/" + this.id + "/user/return";
      this.llamadaServidor(
        url,
        { tokens: this.formateaLetrasParaCambiar() },
        (response) => {
          this.$emit("update:usertokens", response.data.tokens);
          this.cambiandoLetras = false;
          this.$emit("update:state", response.data.state);
          this.$emit("update:mensaje", "Has Cambiado Letras");
          //y vacio las letras para cambiar , que ya se han cambiado.
          this.$emit("new-score", response.data.pscore);
          this.letrasParaCambiar = [];
        }
      );
    },
    formateaLetrasParaCambiar() {
      let letras = [];
      this.letrasParaCambiar.forEach((letra) => {
        letras.push(ScrabbleHelper.getCode(this.language, letra.letter));
      });
      return letras;
    },
    //esto se va arriba, o se emite tal cual para actualizar el tablero mejor?
    //si, que se emita tal cual.
    redibujaTablero(initcol, initrow, word) {
      let tablero = ScrabbleHelper.updateTableboard(
        this.tableboard,
        initcol,
        initrow,
        this.direccionPalabra,
        word
      );
      this.$emit("update:tableboard", tablero);
    },

    llamadaServidor(url, datos, callback) {
      const miv = this;
      return axios
        .post(url, datos)
        .then(function (response) {
          callback(response);
        })
        .catch(function (error) {
          console.log(error);
          miv.$emit("error", error.response.data);
        });
    },
  },
};
//FUNCIONES PARA COMPROBAR QUE LA PALABRA SE PUEDE ENVIAR A PARTIR DE AQUI
function posicionesCorrectas(arrPositions, refs, salto) {
  //obtenemos el tamaño de la supuesta letra.
  //recorremos todas esas posiciones (de 1 en un o de 15 en 15) y si alguna está vacía..no es válido.
  let checked = 0;
  for (
    let i = parseInt(arrPositions[0]);
    i <= parseInt(arrPositions[arrPositions.length - 1]);
    i += salto
  ) {
    const condicion1 = arrPositions.includes(i.toString());
    const condicion2 = refs[i.toString()] !== undefined;
    if (!condicion1 && !condicion2) {
      return false;
    }
    if (condicion1) {
      checked++;
    }
  }
  //Si no has hecho check en todas las posiciones (o condiciones1) del array no puedes devolver true
  //asi evitamos falsos positivos.
  return checked === arrPositions.length;
}
function esHorizontal(arrPositions, vue) {
  return posicionesCorrectas(arrPositions, vue, 1);
}
function esVertical(arrPositions, vue) {
  return posicionesCorrectas(arrPositions, vue, 15);
}
function calculaFila(posicion) {
  const letras = "ABCDEFGHIJKLMNO";
  return letras.charAt(Math.trunc(posicion / 15));
}
function calculaColumna(posicion) {
  const filaabs = Math.trunc(posicion / 15) * 15;
  const columna = posicion - filaabs;
  //como es de 1-15 le sumamos una
  return columna + 1;
}
</script>

<style lang="scss">
$celdaSize: calc(85vw / 15);
.grid {
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-template-rows: repeat(15, 50px);
  align-content: center;
  overflow-x: auto;
  background-image: radial-gradient(transparent, #787878 4%, transparent 72%);
  > * {
    background-color: #f8f9fa;
    border: 1px solid #787878;
  }
  @media (min-width: 1485px) {
    justify-content: center;
  }
  @media (min-width: 992px) and (max-width: 1485px) {
    max-width: 45vw;
    margin: 0 auto;
  }
  //reestructurar tablero
  @media (max-width: 992px) {
    grid-template-columns: repeat(15, $celdaSize);
    grid-template-rows: repeat(15, $celdaSize);
    overflow-x: unset;
    max-width: 100vw;
  }
}

.letra {
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  padding: 5px;
}
.grid .letra {
  @media (max-width: 992px) {
    /* Sass allows any text in these function calls, including nested parentheses.
     Nothing is interpreted as a SassScript expression,
    with the exception that interpolation can be used to inject dynamic values. */
    width: calc(0.9 * #{$celdaSize});
    height: calc(0.9 * #{$celdaSize});
    font-size: 1.2rem;
    padding: 0;
  }
  @media (max-width: 667px) {
    > sub {
      display: none;
    }
  }
}
.arealetras,
.area-drop-letras {
  display: grid;
  margin: 1.5rem;
  grid-template-columns: repeat(7, minmax(5px, auto));
  grid-template-rows: 55px;
  justify-content: center;
  align-items: center;
  background-color: lighten(#787878, 35%);
  > * {
    margin: 0 0.5rem;
  }
  @media (max-width: 565px) {
    grid-template-columns: repeat(4, minmax(55px, auto));
    grid-template-rows: 45px;
    row-gap: 0.9rem;
  }
  @media (min-width: 992px) and (max-width: 1485px) {
    max-width: 45vw;
    //revisar
    margin: 0 auto;
  }
}
.sticky {
  background-color: rgb(245, 245, 245, 0.85);
  position: sticky;
  top: 1%;
  z-index: 100;
  width: fit-content;

  @media (max-width: 992px) {
    top: 10%;
  }
}
.caja--letras {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  @media (max-width: 450px) {
    grid-template-columns: auto;
    justify-items: center;
    margin: 1rem;
  }
}

.grid-drop-letras {
  display: grid;
  grid-template-columns: auto minmax(10%, 25%);
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
  @media (max-width: 450px) {
    grid-template-columns: auto;
    justify-items: center;
    margin: 1rem;
  }
}
.caja--acciones {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 1rem;
  @media (max-width: 600px) {
    grid-template-columns: auto;
    row-gap: 1rem;
  }
}

.boton {
  width: auto !important;
  height: min-content;
}
//ESTILO CASILLAS MODIFICADORAS DEL TECLADO

/* @mixin relleno-celda($color) {
  background-color: $color;
  &::after {
    color: darken(#787878, 20%);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 45px;
  } */

/* &:hover::after {
    content: $content;
    background: radial-gradient(circle, #fff, transparent);
    color: #787878;
  }
} */

.triple-palabra {
  background-color: lighten(#ffb6c1, 10%);
  //@include relleno-celda(lighten(#ffb6c1, 10%), "P3");
}
.doble-palabra {
  background-color: #faf0e6;
  // @include relleno-celda(#faf0e6, "P2");
}
.triple-letra {
  background-color: lighten(#b0c4de, 10%);
  // @include relleno-celda(lighten(#b0c4de, 10%), "L3");
}
.doble-letra {
  background-color: lighten(#add8e6, 8%);
  // @include relleno-celda(lighten(#add8e6, 8%), "L2");
}
.dragg {
  background-color: black;
}
</style>
