<!--componnte q enseña la informacion basica del usuario-->
<template>
  <div>
    <div class="imagen"><img :src="rutaDefinitiva" /></div>
    <div class="datos">
      <ul>
        <li v-for="(item, index) in datosUsuarioDefinitivos" :key="index">
          <template v-if="index !== 'idioma'">
            {{ index }}:<span> {{ item | pais }}</span>
          </template>
          <template v-else>
            {{ index }}:
            <img
              class="img--lang-mini"
              :src="item | idioma"
              :alt="item | pais"
              :title="item | pais"
            />
          </template>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import PAISES from "../paises";
export default {
  name: "UserInfo",
  filters: {
    pais: function (val) {
      //como por este filtro pasan mas cosas además de strings hay que especificar que no sea un numero
      if (
        typeof val !== "number" &&
        val !== undefined &&
        Object.prototype.hasOwnProperty.call(PAISES, val.toUpperCase())
      ) {
        return PAISES[val.toUpperCase()];
      } else {
        return val;
      }
    },
    idioma: function (val) {
      return "/img/" + val.toLowerCase() + ".png";
    },
  },
  props: {
    rutaavatar: { type: String, default: "/img/girlvatar.png" },
    datosusuario: { type: Object, required: true },
    rutanueva: { type: String, default: "" },
    datosusuarionuevos: { type: Object, default: () => {} },
  },
  // si la ruta nueva no es "", es que se ha actualizado, si es null es q se ha borrado la anterior
  computed: {
    rutaDefinitiva: function () {
      if (this.rutanueva !== "" && this.rutanueva !== null) {
        return this.rutanueva;
      } else if (this.rutanueva == null) {
        return "/img/girlvatar.png";
      } else {
        return this.rutaavatar === "" ? "/img/girlvatar.png" : this.rutaavatar;
      }
    },
    datosUsuarioDefinitivos: function () {
      if (
        this.datosusuarionuevos !== undefined &&
        Object.keys(this.datosusuarionuevos).length != 0
      ) {
        //creamos un objeto nuevo que mezcla lo q viene nuevo con lo q no se ha cambiado, asi no modificamos el prop original
        let nobject = {};
        for (let dato in this.datosusuario) {
          if (this.datosusuarionuevos[dato] !== undefined) {
            nobject[dato] = this.datosusuarionuevos[dato];
          } else {
            nobject[dato] = this.datosusuario[dato];
          }
        }
        return nobject;
      } else {
        return this.datosusuario;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
div {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  @media (max-width: 992px) {
    display: none;
  }
  @media (min-width: 990px) and (max-width: 1400px) {
    grid-template-columns: auto;
  }
}
img {
  filter: grayscale(100%);
  width: 128px;
}
.img--lang-mini {
  width: 30px;
  height: 30px;
}

ul {
  padding-left: 1rem;
}
li {
  list-style-type: none;
  margin: 0.4rem 0;
  > span:hover {
    font-weight: bolder;
    border-bottom: 2px dotted #000;
  }
}
</style>
