<!--componente que muestra las estadisticas del usuario-->
<template>
  <div>
    <h3 class="titulos">Estadísticas</h3>
    <p v-if="info">{{ info }}</p>
    <grid-component :columns="2">
      <template #cols>
        <div>
          <h4 class="titulos">Partidas</h4>
          <tabla-component
            :datos="tablesFormat"
            :imagenesid="['Idioma']"
            :headers="heads"
            centered
          />
        </div>
        <div v-if="hayPalabras" class="flex">
          <h4 class="titulos">{{ tituloPalabra }}</h4>
          <template v-for="(lang, index) in datos">
            <p v-if="lang.most_valuable_word != ''" :key="index">
              <span class="letra">
                {{ lang.most_valuable_word_points }} <sub>Puntos</sub>
              </span>
              <span class="titulos" style="font-size: 2rem">
                {{ lang.most_valuable_word }}
              </span>
              <img
                :src="'/img/' + lang.language_code + '.png'"
                :alt="lang.language_code"
              />
            </p>
          </template>
        </div>
      </template>
    </grid-component>
  </div>
</template>
<script>
import axios from "axios";
import TablaComponent from "./TablaComponent.vue";
import GridComponent from "./gridComponent.vue";

export default {
  name: "UserStats",
  components: { TablaComponent, GridComponent },
  props: {
    statsdata: { type: Array, default: () => [] },
  },
  data: function () {
    return {
      datos: [],
      heads: ["", "Ganadas", "Perdidas", "Nivel"],
      info: "",
    };
  },
  computed: {
    //crea el objeto que se enviará al componente tabla
    tablesFormat: function () {
      let newArr = [];
      for (let i = 0; i < this.datos.length; i++) {
        let obj = {
          Idioma: {
            src: "/img/" + this.datos[i].language_code + ".png",
            text: this.datos[i].language_code,
          },
          Ganadas: this.datos[i].won,
          Perdidas: this.datos[i].lost,
          Nivel: this.datos[i].level,
        };
        newArr.push(obj);
      }
      return newArr;
    },
    tituloPalabra: function () {
      return this.datos.filter((idioma) => idioma.language_code !== undefined)
        .length > 1
        ? "Mejores Palabras"
        : "Mejor Palabra";
    },
    hayPalabras: function () {
      return (
        this.datos.filter((idioma) => idioma.most_valuable_word !== "").length >
        0
      );
    },
  },
  created: function () {
    this.llamadaServidor("/scrabble/user/statistics", (response) => {
      this.datos = response.data;
    });
  },
  methods: {
    llamadaServidor(url, callback) {
      let mivue = this;
      return axios
        .get(url)
        .then(function (response) {
          console.log(response);
          callback(response);
        })
        .catch(function (error) {
          //sacar el error por alguna parte
          mivue.info = error.message;
          console.log(error);
        });
    },
  },
};
</script>
<style scoped>
img {
  width: 35px;
  height: 35px;
  vertical-align: top;
  filter: grayscale(100%);
}
p {
  line-height: 3rem;
  word-break: break-all;
}
.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
</style>
