/* AQUI EL SCSS GENERAL DE LAS PAGINAS DE ERROR */

.img-error-403 {
  width: 100%;
  height: 25vw;
  background-image: url("/img/gutemberg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 3rem;
}

.container .container {
  margin-top: 3rem;
}

.titulos {
  text-align: center;
}

.content-error {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.content-error a {
  font-weight: bold;
  border-bottom: 2px dotted;
}

.img-error-403::before {
  position: absolute;
  top: 7.5vw;
  left: 45%;
  width: 10vw;
  height: 10vw;
  background-image: url("/img/forbidden.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  content: " ";
  opacity: 0.8;
}

@media (max-width: 750px) {
  .img-error-403 {
    height: 50vw;
  }

  .img-error-403::before {
    top: 12.5vw;
    width: 15vw;
    height: 15vw;
  }
}

.img-error-403:hover::before {
  opacity: 1;
}

