/* AQUI EL SCSS GENERAL DE LAS PAGINAS DE ERROR */

.img-error-404 {
  width: 100%;
  height: 25vw;
  background-image: url("/img/gutemberg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-top: 3rem;
}

.container .container {
  margin-top: 3rem;
}

.titulos {
  text-align: center;
}

.content-error {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.content-error a {
  font-weight: bold;
  border-bottom: 2px dotted;
}

.img-error-404::before {
  position: absolute;
  width: 0.5%;
  height: 4%;
  content: " ";
  -webkit-animation-name: lagrimita;
          animation-name: lagrimita;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background-color: aqua;
  opacity: 0;
  border-radius: 50%;
  border-color: transparent;
  top: 33%;
  left: 51.5%;
}

@media (max-width: 750px) {
  .img-error-404 {
    height: 50vw;
  }
}

@-webkit-keyframes lagrimita {
  0% {
    opacity: 0.9;
    top: 35%;
    width: 0.5%;
    height: 4%;
  }

  25% {
    top: 50%;
    left: 50%;
    width: 0.5%;
    height: 6%;
  }

  50% {
    top: 70%;
    width: 0.5%;
    height: 5%;
    opacity: 1;
  }

  75% {
    top: 100%;
    left: 47.5%;
    width: 1%;
    height: 1%;
  }

  100% {
    top: 100%;
    left: 46%;
    width: 7%;
    height: 7%;
    opacity: 0;
  }
}

@keyframes lagrimita {
  0% {
    opacity: 0.9;
    top: 35%;
    width: 0.5%;
    height: 4%;
  }

  25% {
    top: 50%;
    left: 50%;
    width: 0.5%;
    height: 6%;
  }

  50% {
    top: 70%;
    width: 0.5%;
    height: 5%;
    opacity: 1;
  }

  75% {
    top: 100%;
    left: 47.5%;
    width: 1%;
    height: 1%;
  }

  100% {
    top: 100%;
    left: 46%;
    width: 7%;
    height: 7%;
    opacity: 0;
  }
}

