/* AQUI EL SCSS GENERAL DE LAS PAGINAS DE ERROR */

.container .container {
  margin-top: 3rem;
}

.titulos {
  text-align: center;
}

.content-error {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.content-error a {
  font-weight: bold;
  border-bottom: 2px dotted;
}

.img-error-500 {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  height: 30vw;
  width: 50%;
  gap: 0;
  margin: 0 auto;
}

.img-error-500 .puzzle1 img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 25% 10%;
     object-position: 25% 10%;
  width: 100%;
  height: 15vw;
  -webkit-animation-name: moving1;
          animation-name: moving1;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 750px) {
  .img-error-500 .puzzle1 img {
    height: 25vw;
  }
}

.img-error-500 .puzzle2 img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 45% 30%;
     object-position: 45% 30%;
  width: 100%;
  height: 15vw;
  -webkit-animation-name: moving2;
          animation-name: moving2;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 750px) {
  .img-error-500 .puzzle2 img {
    height: 25vw;
  }
}

.img-error-500 .puzzle3 img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 65% 50%;
     object-position: 65% 50%;
  width: 100%;
  height: 15vw;
  -webkit-animation-name: moving3;
          animation-name: moving3;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 750px) {
  .img-error-500 .puzzle3 img {
    height: 25vw;
  }
}

.img-error-500 .puzzle4 img {
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 85% 70%;
     object-position: 85% 70%;
  width: 100%;
  height: 15vw;
  -webkit-animation-name: moving4;
          animation-name: moving4;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 750px) {
  .img-error-500 .puzzle4 img {
    height: 25vw;
  }
}

@media (max-width: 750px) {
  .img-error-500 {
    width: 75%;
    height: 50vw;
  }
}

@-webkit-keyframes moving1 {
  100% {
    object-position: 85% 70%;
  }
}

@keyframes moving1 {
  100% {
    -o-object-position: 85% 70%;
       object-position: 85% 70%;
  }
}

@-webkit-keyframes moving2 {
  100% {
    object-position: 65% 50%;
  }
}

@keyframes moving2 {
  100% {
    -o-object-position: 65% 50%;
       object-position: 65% 50%;
  }
}

@-webkit-keyframes moving3 {
  100% {
    object-position: 45% 30%;
  }
}

@keyframes moving3 {
  100% {
    -o-object-position: 45% 30%;
       object-position: 45% 30%;
  }
}

@-webkit-keyframes moving4 {
  100% {
    object-position: 25% 10%;
  }
}

@keyframes moving4 {
  100% {
    -o-object-position: 25% 10%;
       object-position: 25% 10%;
  }
}

