.rejilla {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
}

.success-box {
  padding: 0.5rem;
  background-color: #e6ffe6;
  border: 1px solid green;
  border-radius: 3%;
  margin-top: 1rem;
}

.error-box {
  padding: 0.5rem;
  background-color: #ffcbb6;
  border: 1px solid transparent;
  border-radius: 3%;
  margin-top: 1rem;
}

img:hover {
  filter: none !important;
}

.caja-formulario {
  width: 85%;
  font-family: "M PLUS 1p", sans-serif;
}

.caja-formulario * {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}

.caja-formulario p {
  color: #ff4d03;
  margin-top: 0;
  display: inline;
  font-size: smaller;
}

.caja-formulario a {
  border-bottom: 2px dotted;
  text-align: center;
  font-size: smaller;
}

.caja-formulario a:hover {
  text-decoration: none;
  font-weight: bold;
}

input[type=email],
input[type=password],
input[type=text] {
  width: 100%;
  background-color: #f5f5f5;
  border: hidden;
  border-bottom: 2px dotted #1e1e1e;
  position: relative;
  font-family: "M PLUS 1p", sans-serif;
}

input[type=email].error,
input[type=password].error,
input[type=text].error {
  border: hidden;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #ff4d03, #f5f5f5);
}

input[type=checkbox] {
  display: inline;
}

input[type=file] {
  width: 100%;
  display: block;
  padding: 2rem;
  background-color: #d1d1d1;
  font-family: "M PLUS 1p", sans-serif;
}

input[type=file].error {
  background-color: #ffcbb6;
}

input[type=submit],
input[type=reset] {
  display: block;
  background-color: #787878;
  border-color: #787878;
  width: 50%;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #454545;
}

input[type=submit].light,
input[type=reset].light {
  background-color: #9e9e9e;
  border-color: #ababab;
}

input[type=submit].light:hover,
input[type=reset].light:hover {
  background-color: #454545;
}

input[type=submit].inline,
input[type=reset].inline {
  display: inline;
  width: 20%;
}

@media (max-width: 800px) {
  input[type=submit],
  input[type=reset] {
    display: block;
  }

  input[type=submit].full,
  input[type=submit].inline,
  input[type=reset].full,
  input[type=reset].inline {
    width: 100%;
  }
}

input:focus,
input:active {
  outline: thin solid #f5f5f5 !important;
  border: hidden;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, #1e1e1e, #787878, #f5f5f5);
}

label {
  font-size: 1.2rem;
  font-family: "Special Elite", cursive;
}

select {
  width: 100%;
  background-color: #c5c5c5;
  border: transparent;
  border-radius: 5%;
  padding: 0.5rem;
  position: relative;
}

select.error {
  background-color: #ffcbb6;
}

input[type=number] {
  width: 70px;
  border: hidden;
  border-bottom: 2px dotted #1e1e1e;
  text-align: center;
  font-size: 2em;
  margin-left: 1rem;
  margin-right: 1rem;
}

input[type=number]:focus {
  border-bottom: 2px dotted #1e1e1e;
}

img {
  filter: grayscale(100%);
}

.menu--gris li span {
  color: #fff;
}

.menu--gris li span:hover {
  border-bottom: 2px dotted;
  font-weight: bolder;
}

.menu--gris li i {
  font-size: 2rem;
}

.info--notifications {
  color: #787878 !important;
  background-color: #f5f5f5;
  padding: 0.07rem;
  border: 1px solid transparent;
  border-radius: 25%;
}

@media (max-width: 992px) {
  .display--small {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .display--big {
    display: none !important;
  }
}

.menu-dashboard--slim {
  background-color: #ebebeb;
}

@media (min-width: 992px) {
  .menu-dashboard--slim {
    display: none;
  }
}

.menu-dashboard--slim ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  align-items: center;
  justify-content: center;
  list-style-type: none;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 0;
}

@media (max-width: 500px) {
  .menu-dashboard--slim ul {
    grid-template-columns: repeat(3, auto) !important;
    row-gap: 1rem;
  }
}

.list-icon--slim {
  color: #787878;
}

.list-icon--slim:hover,
.list-icon--slim:active,
.list-icon--slim:focus {
  color: #525252;
}

.rounded-avatar {
  width: 3.5em;
  border: 1px solid transparent;
  border-radius: 50%;
  filter: grayscale(100%);
}

.rounded-avatar:hover,
.rounded-avatar:active,
.rounded-avatar:focus {
  filter: none;
}

.seleccionado {
  text-shadow: #ff4d03 3px 2px;
}

