/*AQUI EL SCSS GENERAL DE LAS PAGINAS DE ERROR*/

.img-error {
  width: 50vw;
  height: 25vw;
  background-image: url("/img/gutemberg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

