/***  INDICE DEL CSS  ****/
:root {
  --fuente-titulos: "Special Elite", cursive;
  --color-texto-normal: black;
  --my-grey: #787878;
  --wheel-duracion: 0.8s;
}
.w-var {
  width: 85%;
}
body {
  background-color: #f5f5f5;
}
p,
a,
li,
table {
  font-size: 1.1rem;
  font-family: "M PLUS 1p", sans-serif;
}
a,
a:hover {
  color: var(--color-texto-normal);
}
a:hover {
  text-decoration: none;
}

footer p,
footer a {
  font-size: 0.85rem;
}
footer a {
  border-bottom: 2px dotted;
}
footer a:hover,
.modal a:hover {
  color: var(--color-texto-normal);
  font-weight: bold;
  border-bottom: 2px dotted;
}
p > strong {
  font-weight: 600;
}

.logo > a,
.titulos {
  font-family: var(--fuente-titulos) !important;
  color: rgba(0, 0, 0, 0.9);
}
.logo > a {
  font-size: 2rem !important;
  text-decoration: none;
}
h4.titulos {
  margin-top: 2rem;
}
h4.titulos:first-of-type {
  margin-top: 0;
}

/* re-boostr */
.jumbotron {
  background-color: #d3d3d3 !important;
  padding: 1rem;
}
.jumbotron i {
  color: var(--my-grey);
}

.active {
  background-color: var(--my-grey) !important;
  border-color: var(--my-grey) !important;
}

img {
  object-fit: cover;
}

.barra--news {
  background-color: var(--my-grey);
  padding: 10px;
  text-align: center;
  margin: 5px 14px;
}
.link-news.bar {
  margin-left: 30px;
}
.link-news.bar::before {
  content: "-";
}
.texto--negro {
  color: var(--color-texto-normal) !important;
}

/**  quiza fondo claro sea mas descriptivo */
.fondo-opaco {
  background-color: white;
}

/* IMAGENES GRISES */
.img-grises {
  filter: grayscale(100%);
}

/**  CLIP IMAGENES */

.img-cuadrada {
  width: 175px;
  height: 175px;
}

.img-square-rounded {
  border-radius: 8px;
}
.no-cover {
  object-fit: none;
}
.img-position-center {
  object-position: center;
}
.img-position-left {
  object-position: 10% 20%;
}
.img-position-90 {
  object-position: 90%;
}

.img-cuadrada:hover {
  border: 3px solid black;
  transform: scale(1.1);
}

/**  IMAGENES RECORTADAS TRABAJADRES IMPRENTA */
.img-cropped {
  object-fit: none;
  width: 240px;
  height: 240px;
}
#cropped-trabajador-1 {
  object-position: 99% 60%;
}
#cropped-trabajador-2 {
  object-position: 24% 44%;
}
#cropped-trabajador-3 {
  object-position: 10% 50%;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

/**  MAPA EUROPA  **/
.img-mapa {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 280px; /* 207px; */
}

.img-europa {
  background-image: url("../img/mapaeuropa.png");
  position: relative;
}

.img-europa:hover,
.img-europa:active {
  animation-name: progress-historia;
  animation-duration: 10s;
}

.img-1469 {
  background-image: url("../img/europa/imprenta1469.png");
}
.img-1470 {
  background-image: url("../img/europa/imprenta1470.png");
}
.img-1471 {
  background-image: url("../img/europa/imprenta1471.png");
}
.img-1472 {
  background-image: url("../img/europa/imprenta1472.png");
}
.img-1474 {
  background-image: url("../img/europa/imprenta1474.png");
}
.img-1476 {
  background-image: url("../img/europa/imprenta1476.png");
}

@keyframes progress-historia {
  0% {
    background-image: url("../img/europa/imprenta1469.png");
    content: "#1469";
  }
  14% {
    background-image: url("../img/europa/imprenta1470.png");
    content: "#1470";
  }
  28% {
    background-image: url("../img/europa/imprenta1471.png");
    content: "#1471";
  }
  42% {
    background-image: url("../img/europa/imprenta1472.png");
    content: "#1472";
  }
  70% {
    background-image: url("../img/europa/imprenta1474.png");
    content: "#1474";
  }
  100% {
    background-image: url("../img/europa/imprenta1476.png");
    content: "#1476";
  }
}

/* NOTICIAS DEL CEEDCV */
.news-card {
  border-radius: 8px;
  background-color: var(--my-grey);
}
.news-card > p {
  color: #d3d3d3;
}

.date {
  font-size: 12px;
  color: #c0c0c0;
}
.link-news {
  color: white;
  font-family: var(--fuente-titulos) !important;
  border-bottom: 2px dotted white;
}
.link-news:hover {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

/* video */
.video-fondo {
  position: relative;
  background-color: black;
  height: 225px;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
}

.video-fondo video {
  position: absolute;
  top: -20%;
  left: -50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;

  /**  para moviles no vale */
  animation-name: move-camera;
  animation-iteration-count: infinite;

  /* la animacion no puede durar lo que dura el video porque mientras hace el loop para x tiempo */
  animation-duration: 10s; /* ajustar! */
}

.video-fondo .container {
  position: relative;
  z-index: 2;
}

.video-fondo .superpuesto {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

@keyframes move-camera {
  0% {
    top: -45%;
    left: -15%;
  }
  30% {
    top: -20%;
    left: -50%;
  }
  50% {
    top: -65%;
    left: -5%;
  }
  100% {
    top: -85%;
  }
}

/* volver al inicio */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

/* Time border */
.border-time-derecha {
  border-right: 3px dashed black;
}

/* SCRABBLE */
.bloque-stats-scrabble {
  background-color: #f8f9fa;
}

/*  */
.card-size-variable {
  width: 100%;
}

/* https://somostechies.com/qd-existe-un-selector-css-para-el-elemento-padre/ :( */

/**  menu-3rd-aside */
.menu--gris {
  border-radius: 8px;
  padding: 2px;
}
.menu--gris li {
  background-color: var(--my-grey);
  border-color: #f5f5f5;
}

.menu--gris li a {
  color: white;
}
.menu--gris li a:hover {
  text-decoration: none;
  border-bottom: 2px dotted;
  font-weight: bolder;
}
.menu--gris i {
  font-size: 2.5rem;
  vertical-align: middle;
  color: white;
  margin-right: 0.5em;
}

/* contador-usuarios */

.contador {
  border: 2px inset black;
  border-radius: 5px;
  background-color: var(--my-grey);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 6px;
  animation: press;
  animation-iteration-count: 3;
  animation-delay: 5s;
  animation-duration: 1s;
}

.contador span {
  display: inline-block;
  animation: wheel;
  animation-iteration-count: 1;
  animation-duration: var(--wheel-duracion);
  animation-fill-mode: both;
  animation-timing-function: ease-in;
}

#dos {
  animation-delay: calc(
    var(--wheel-duracion) + calc(var(--wheel-duracion) * 2)
  );
}
#tres {
  animation-delay: calc(
    var(--wheel-duracion) + calc(var(--wheel-duracion) * 3)
  );
}

@keyframes press {
  0% {
    border-style: inset;
  }
  100% {
    border-style: outset;
  }
}
@keyframes wheel {
  0%,
  90% {
    visibility: visible;
    transform: translateY(35px);
  }
  70% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* boton */
.button-dark-orange {
  background-color: #ff4d03;
  color: white;
}
.button-dark-orange a {
  color: white !important;
}

/* LETRAS SCRABBLE */
.letra {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;
  border: 2px inset black;
  border-radius: 5px;
  background-color: var(--my-grey);
  color: white;
  text-align: center;
  font-size: 2rem;
  box-sizing: content-box;
  padding: 5px;
  font-family: var(--fuente-titulos);
}
a.letra {
  width: auto;
  height: 40px;
  font-size: 1.5rem;
}
.letra:hover,
.letra:active {
  border-style: outset;
}

/* Donde está el texto de la letra en sí */
.letra .letra-concreta {
  vertical-align: middle;
}

/* la puntuación de la letra */
.letra sub {
  font-size: 0.5em;

  /* se podria hacer con calculos sobre el tamaño de la letra, verdad? */
  right: 5px;
  bottom: 10px;
  position: absolute;
}

/**  TABLAS */
td > img:hover {
  filter: none;
}

/**  MEDIA QUERIES */
@media (max-width: 1800px) {
  .w-var {
    width: 95%;
  }
}

@media (max-width: 992px) {
  .img-cuadrada {
    width: 100%;
    object-fit: cover !important;
  }

  a > .img-cuadrada {
    width: 250px;
    height: 250px;
    object-fit: none !important;
  }
  .card-size-variable {
    width: 85%;
    margin: 0 auto;
  }
}
