@import "errores";

.img-error-404 {
  @extend %errores;
  &::before {
    position: absolute;
    width: $ancho * 0.005;
    height: $ancho * 0.04;
    content: " ";
    animation-name: lagrimita;
    animation-delay: 3s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: aqua;
    opacity: 0;
    border-radius: 50%;
    border-color: transparent;
    top: 33%;
    left: 51.5%;
  }
  @media (max-width: 750px) {
    @include erroresMedia;
  }
}
@keyframes lagrimita {
  0% {
    opacity: 0.9;
    top: 35%;
    width: $ancho * 0.005;
    height: $ancho * 0.04;
  }
  25% {
    top: 50%;
    left: 50%;
    width: $ancho * 0.005;
    height: $ancho * 0.06;
  }
  50% {
    top: 70%;
    width: $ancho * 0.005;
    height: $ancho * 0.05;
    opacity: 1;
  }
  75% {
    top: 100%;
    left: 47.5%;
    width: $ancho * 0.01;
    height: $ancho * 0.01;
  }
  100% {
    top: 100%;
    left: 46%;
    width: $ancho * 0.07;
    height: $ancho * 0.07;
    opacity: 0;
  }
}
