@use "sass:map";
@import "errores";

$piezas: 4;
$filas: 2;
$choppedPosiciones: ();
$x: 25%;
$y: 10%;
$alto: 30vw;

@for $i from 1 through $piezas + 1 {
  $valor: $x $y;
  $choppedPosiciones: map.set($choppedPosiciones, $i, $valor);
  $y: $y + 20%;
  $x: $x + 20%;
}
.img-error-500 {
  display: grid;
  grid-template-columns: 25% 25%;
  justify-content: center;
  height: $alto;
  width: 50%;
  gap: 0;
  margin: 0 auto;
  @for $pieza from 1 through $piezas {
    .puzzle#{$pieza} {
      img {
        object-fit: none;
        object-position: map.get($choppedPosiciones, $pieza);
        width: 100%;
        height: $alto/$filas;
        animation-name: moving#{$pieza};
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        animation-delay: random(3) + 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
      }
      @media (max-width: 750px) {
        $alto: 50vw;
        img {
          height: $alto/$filas;
        }
      }
    }
  }
  @media (max-width: 750px) {
    $alto: 50vw;

    width: 75%;
    height: $alto;
  }
}
@for $i from 1 through $piezas {
  @keyframes moving#{$i} {
    100% {
      object-position: map.get($choppedPosiciones, ($piezas + 1) -$i);
    }
  }
}
