$colorGris: #787878;
$colorNegro: #1e1e1e;
$colorClaro: #f5f5f5;
$colorNaranja: #ff4d03;
$fontText: "M PLUS 1p", sans-serif;

.rejilla {
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
}
@mixin aStyle {
  border-bottom: 2px dotted;
  text-align: center;
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
@mixin cajita($colorFondo, $colorBorde) {
  padding: 0.5rem;
  background-color: $colorFondo;
  border: 1px solid $colorBorde;
  border-radius: 3%;
  margin-top: 1rem;
}

.success-box {
  @include cajita(lighten(green, 70%), green);
}
.error-box {
  @include cajita(lighten($colorNaranja, 35%), transparent);
}
img:hover {
  filter: none !important;
}
