/* AQUI EL SCSS GENERAL DE LAS PAGINAS DE ERROR */

$ancho: 100%;
$alto: 25vw;
$margenes-y: 3rem;

@mixin bgImage($url, $size) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $size;
}
%errores {
  width: $ancho;
  height: $alto;
  @include bgImage("/img/gutemberg.jpg", contain);

  position: relative;
  margin-top: $margenes-y;
}

//sass no deja extends en media queries asi que ha de ser un mixin...
@mixin erroresMedia {
  $alto: 50vw;

  height: $alto;
}
.container .container {
  margin-top: $margenes-y;
}
.titulos {
  text-align: center;
}
.content-error {
  margin-top: $margenes-y;
  margin-bottom: $margenes-y;
  text-align: center;
  a {
    font-weight: bold;
    border-bottom: 2px dotted;
  }
}
