@import "errores";

@mixin conImagen($ruta) {
  @extend %errores;
  &::before {
    $picSize: 10vw;

    position: absolute;
    top: ($alto/2) - $picSize/2;
    left: ($ancho/2) - 5%;
    width: $picSize;
    height: $picSize;
    @include bgImage($ruta, contain);

    content: " ";
    opacity: 0.8;
  }
  @media (max-width: 750px) {
    @include erroresMedia;

    &::before {
      top: $alto/2;
      $picSize: 15vw;

      width: $picSize;
      height: $picSize;
    }
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
