@import "forms";
img {
  filter: grayscale(100%);
}
.menu--gris li span {
  color: #fff;
  &:hover {
    border-bottom: 2px dotted;
    font-weight: bolder;
  }
}

.menu--gris li i {
  font-size: 2rem;
}
.info--notifications {
  color: $colorGris !important;
  background-color: $colorClaro;
  padding: 0.07rem;
  border: 1px solid transparent;
  border-radius: 25%;
}
.display--small {
  @media (max-width: 992px) {
    display: none !important;
  }
}
.display--big {
  @media (max-width: 992px) {
    display: none !important;
  }
}

.menu-dashboard--slim {
  @media (min-width: 992px) {
    display: none;
  }

  background-color: lighten($colorGris, 45%);
  ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    justify-content: center;
    list-style-type: none;
    column-gap: 1rem;
    padding: 0;
    @media (max-width: 500px) {
      grid-template-columns: repeat(3, auto) !important;
      row-gap: 1rem;
    }
  }
}
.list-icon--slim {
  color: $colorGris;
  &:hover,
  &:active,
  &:focus {
    color: darken($colorGris, 15%);
  }
}
.rounded-avatar {
  width: 3.5em;
  border: 1px solid transparent;
  border-radius: 50%;
  filter: grayscale(100%);
  &:hover,
  &:active,
  &:focus {
    filter: none;
  }
}
.seleccionado {
  text-shadow: $colorNaranja 3px 2px;
}
