@import "common";

@mixin grandientBorder($colorA, $colorB...) {
  border: hidden;
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, $colorA, $colorB);
}
@mixin errorFondo() {
  &.error {
    background-color: lighten($colorNaranja, 35%);
  }
}
.caja-formulario {
  width: 85%;

  * {
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
  }
  p {
    color: $colorNaranja;
    margin-top: 0;
    display: inline;
    font-size: smaller;
  }
  a {
    @include aStyle;

    font-size: smaller;
  }

  font-family: $fontText;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  width: 100%;
  background-color: #f5f5f5;
  border: hidden;
  border-bottom: 2px dotted $colorNegro;
  position: relative;
  font-family: $fontText;
  &.error {
    @include grandientBorder($colorNaranja, $colorClaro);
  }
}
input[type="checkbox"] {
  display: inline;
}

input[type="file"] {
  width: 100%;
  display: block;
  padding: 2rem;
  background-color: lighten($colorGris, 35%);
  font-family: $fontText;
  @include errorFondo;
}
input[type="submit"],
input[type="reset"] {
  display: block;
  background-color: $colorGris;
  border-color: $colorGris;
  width: 50%;
  &:hover {
    background-color: darken($colorGris, 20%);
  }
  &.light {
    background-color: lighten($colorGris, 15%);
    border-color: lighten($colorGris, 20%);
  }
  &.light:hover {
    background-color: darken($colorGris, 20%);
  }
  &.inline {
    display: inline;
    width: 20%;
  }

  @media (max-width: 800px) {
    display: block;
    &.full,
    &.inline {
      width: 100%;
    }
  }
}
input:focus,
input:active {
  outline: thin solid $colorClaro !important;
  @include grandientBorder($colorNegro, $colorGris, $colorClaro);
}
label {
  font-size: 1.2rem;
  font-family: "Special Elite", cursive;
}
select {
  width: 100%;
  background-color: lighten($colorGris, 30%);
  border: transparent;
  border-radius: 5%;
  padding: 0.5rem;
  position: relative;
  @include errorFondo;
}

input[type="number"] {
  width: 70px;
  border: hidden;
  border-bottom: 2px dotted $colorNegro;
  text-align: center;
  font-size: 2em;
  margin-left: 1rem;
  margin-right: 1rem;
  &:focus {
    border-bottom: 2px dotted $colorNegro;
  }
}
